// scss-docs-start gray-color-variables

$white: #fff !default;
$gray-100: #f7f8fb !default;
$gray-200: #ecf0fc !default;
$gray-300: #e7eaf3 !default;
$gray-400: #d9deea !default;
$gray-500: #abb4cc !default;
$gray-600: #99a2bd !default;
$gray-700: #515a7e !default;
$gray-800: #3f4e75 !default;
$gray-900: #212a3f !default;
$black: #000 !default;

// scss-docs-end gray-color-variables


// scss-docs-start color-variables

$blue: #3b3bd8 !default;
$indigo: #2a2799 !default;
$purple: #825cf6 !default;
$pink: #fa3b77 !default;
$red: #db5461 !default;
$orange: #ea581a !default;
$yellow: #fcdc60 !default;
$green: #12a278 !default;
$teal: #80efd0 !default;
$cyan: #0c68d2 !default;


$primary-color: #5a09f3 !default;
$secondary-color: #dbdaff !default;

// scss-docs-end color-variables

