.border-bottom-left-radius-0 {
    border-bottom-left-radius: 0 !important;
}

.border-bottom-right-radius-0 {
    border-bottom-right-radius: 0 !important;
}

.border-top-left-radius-0 {
    border-top-left-radius: 0 !important;
}

.border-top-right-radius-0 {
    border-top-right-radius: 0 !important;
}

.rounded-xl {
    border-radius: $border-radius-xl !important;
}

 .border-dashed {
     border-style: dashed !important;
 }

 .border-dotted {
     border-style: dotted !important;
 }

