<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-8">
            <div class="row">
                <div class="col">
                    <h5>Regular</h5>
                    <br>
                    <span class="badge bg-primary">Primary</span>
                    <span class="badge bg-secondary text-primary">Secondary</span>
                    <span class="badge bg-success">Success</span>
                    <span class="badge bg-danger">Danger</span>
                    <span class="badge bg-warning text-dark">Warning</span>
                    <span class="badge bg-info">Info</span>
                    <span class="badge bg-light text-dark">Light</span>
                    <span class="badge bg-dark">Dark</span>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <h5>Rounded</h5>
                    <br>
                    <span class="badge rounded-pill bg-primary">Primary</span>
                    <span class="badge rounded-pill bg-secondary text-primary">Secondary</span>
                    <span class="badge rounded-pill bg-success">Success</span>
                    <span class="badge rounded-pill bg-danger">Danger</span>
                    <span class="badge rounded-pill bg-warning text-dark">Warning</span>
                    <span class="badge rounded-pill bg-info">Info</span>
                    <span class="badge rounded-pill bg-light text-dark">Light</span>
                    <span class="badge rounded-pill bg-dark">Dark</span>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <h5>Link</h5>
                    <br>
                    <a href="#!" class="badge bg-primary text-white">Primary</a>
                    <a href="#!" class="badge bg-secondary text-dark">Secondary</a>
                    <a href="#!" class="badge bg-success text-white">Success</a>
                    <a href="#!" class="badge bg-danger text-white">Danger</a>
                    <a href="#!" class="badge bg-warning text-dark">Warning</a>
                    <a href="#!" class="badge bg-info text-white">Info</a>
                    <a href="#!" class="badge bg-light text-dark">Light</a>
                    <a href="#!" class="badge bg-dark text-white">Dark</a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <h5>Icons</h5>
                    <br>
                    <span class="badge bg-primary badge-icon badge-lg"><i class="far fa-user-circle"></i>Primary</span>
                    <span class="badge bg-secondary badge-icon text-primary"><i class="far fa-user-circle"></i>Secondary</span>
                    <span class="badge badge-icon bg-success"><i class="far fa-user-circle"></i>Success</span>
                    <span class="badge badge-icon bg-danger"> <i class="far fa-user-circle"></i>Danger</span>
                    <span class="badge badge-icon bg-warning text-dark"><i class="far fa-user-circle"></i>Warning</span>
                    <span class="badge badge-icon bg-info"><i class="far fa-user-circle"></i>Info</span>
                    <span class="badge badge-icon bg-light text-dark"><i class="far fa-user-circle"></i>Light</span>
                    <span class="badge badge-icon bg-dark"><i class="far fa-user-circle"></i>Dark</span>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5 mt-md-0">
            <h5>Style</h5>
            <br>
            <button type="button" class="btn btn-primary">
                Profile <span class="badge bg-secondary ms-2 rounded-pill px-3 text-primary">9</span>
                <span class="visually-hidden">unread messages</span>
            </button>
            <br>
            <br>
            <button type="button" class="btn btn-secondary text-primary">
                Notifications <span class="badge bg-primary ms-2 rounded-pill">10</span>
            </button>
        </div>
    </div>

</div>