<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container mt-5" id="btn-groups-container">
                <div class="row mt-5">
                    <div class="col-md-6">
                        <div class="col-12 py-5">
                            <h5>Basic</h5>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example"><button type="button"
                                class="btn btn-primary active">Active</button>
                            <button type="button" class="btn btn-primary">2</button>
                        <button type="button" class="btn btn-primary">3</button></div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-12 py-5">
                            <h5>With dropdown</h5>
                        </div>
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button
                                type="button" class="btn btn-primary">1</button> <button type="button"
                                class="btn btn-primary">2</button>
                            <div class="btn-group" role="group"><button id="btnGroupDrop1" type="button"
                                    class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">Dropdown</button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <li><a class="dropdown-item" href="#!">Dropdown link</a></li>
                                    <li><a class="dropdown-item" href="#!">Dropdown link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-12 py-5">
                            <h5>Checkboxes</h5>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group"><input
                                type="checkbox" class="btn-check" id="btncheck1" autocomplete="off"> <label
                                class="btn btn-outline-primary  btn-sm" for="btncheck1">Item 1</label> <input type="checkbox"
                                class="btn-check" id="btncheck2" autocomplete="off"> <label
                                class="btn btn-outline-primary btn-sm" for="btncheck2">Item 2</label> <input type="checkbox"
                                class="btn-check" id="btncheck3" autocomplete="off"> <label
                                class="btn btn-outline-primary btn-sm" for="btncheck3">Item 3</label></div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-12 py-5">
                            <h5>Radio</h5>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group"><input
                                type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                                checked="checked"> <label class="btn btn-outline-primary btn-sm" for="btnradio1">Item 1</label>
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary btn-sm" for="btnradio2">Item 2</label> 
                            <input type="radio"
                                class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"> <label
                                class="btn btn-outline-primary btn-sm" for="btnradio3">Item 3</label></div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-12 py-5">
                            <h5>Vertical variation</h5>
                        </div>
                        <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group"><input
                                type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off"
                                checked="checked"> <label class="btn btn-outline-primary" for="btnradio4">Item 1</label>
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio5">Item 2</label> <input type="radio"
                                class="btn-check" name="btnradio" id="btnradio6" autocomplete="off"> <label
                                class="btn btn-outline-primary" for="btnradio6">Item 3</label></div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-12 py-5">
                            <h5>Sizing</h5>
                        </div>
                        <div class="btn-group btn-group-lg mb-5" role="group" aria-label="Basic size example"><button
                                type="button" class="btn btn-primary active">Active</button> <button type="button"
                                class="btn btn-primary">Item</button></div>
                                <br/>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic size example"><button
                                type="button" class="btn btn-primary active">Active</button> <button type="button"
                                class="btn btn-primary">Item</button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>