<div class="container">
    <div class="row pt-5">

        <div class="col-md-6 my-5">
            <div class="card card-shadow rounded-lg mx-auto" style="max-width: 28rem;">
                <div class="card-header d-flex justify-content-between p-4">
                    <div>
                        <span class="badge rounded-pill bg-primary">Project</span>
                    </div>
                    <button type="button" class="btn btn-sm btn-light">Continue</button>
                </div>
                <div class="card-body">
                    <h3 class="fw-bold">
                        Software Design
                    </h3>
                    <h4 class="text-muted my-4">
                        Lorem ipsum dolor et amet ed dos
                        eius mod tempor incid ut veniam
                    </h4>
                    <div class="d-flex">
                        <div class="border border-dashed rounded px-2 py-1 me-2">
                            <i class="fas fa-paperclip text-muted"></i>
                            <span class="mx-2 fs-5 fw-bold">6</span>
                        </div>
                        <div class="border border-dashed rounded px-2 py-1">
                            <i class="fas fa-comment-dots text-muted"></i>
                            <span class="mx-2 fs-5 fw-bold">10</span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-md-6 my-5">
            <div class="card card-shadow rounded-lg mx-auto" style="max-width: 18rem;">
                <div class="card-body">
                    <div class="card-title text-primary">
                        <i class="fas fa-chess-board fa-2x"></i>
                    </div>
                    <div class="card-title my-3">
                        <h4>Strategy</h4>
                    </div>
                    <p>Lorem ipsum doloret nit uta amet, adipiscing elit, etsedo atun
                        eiusmo tempor incid idunt do labore eton dolore magna ut amet aliqua. Ut enima minim
                        veniam.
                    </p>
                    <div>
                        <a href="#!" class="link-primary btn-lg px-0">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-5">
            <div class="card card-shadow bg-primary rounded mx-auto" style="max-width: 18rem;">
                <div class="card-body text-white">
                    <h4 class="card-title text-white pt-2 pb-3 px-2"><i class="far fa-bell pe-2"></i>Notification
                    </h4>
                    <h6 class="card-subtitle mb-3 text-white px-2">2 mins ago</h6>
                    <p class="opacity-75 px-2">Lorem ipsum doloret nit uta amet, adipiscing elit, etsedo atun
                        eiusmo tempor incid idunt do labore eton dolore magna ut amet aliqua. Ut enima minim
                        veniam.</p>
                    <div class="text-center">
                        <button class="btn btn-light rounded-pill btn-sm">Let's Talk</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-5">
            <div class="card card-shadow bg-primary text-light d-flex justify-content-center align-items-center rounded mx-auto"
                style="width: 14rem; height: 14rem;">
                <div class="card-title mb-2">
                    <i class="fas fa-code fa-2x"></i>
                </div>
                <div class="text-center">
                    <h3 class="text-light"><span class="d-block">UX</span> Research</h3>
                    <a href="#!" class="btn btn-sm btn-light mt-3 rounded-pill">Explore</a>
                </div>
            </div>
            <br>
            <br>
            <div class="card shadow-xl-secondary hover-translate-up-4 mx-auto" style="width: 12rem; height: 9rem;">
                <div class="card-body d-flex justify-content-center align-items-center"><img
                        src="@@path/assets/img/clients/client-1.svg" class="mw-100"></div>
                <a href="#!" class="stretched-link"></a>
            </div>
        </div>


    </div>
    <divl class="row pt-5">
        <div class="col-lg-6 mt-4">
            <div class="card card-shadow px-3 mx-auto" style="max-width: 26rem;">
                <div class="card-header">
                    <div class="d-flex justify-content-between pt-3">

                        <i class="fa-regular fa-calendar-days fa-2x text-primary"></i>
                        <span class="text-muted">2 Days Ago</span>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="mb-3 text-primary">Design Tools</h3>
                    <p>Lorem ipsum doloret amet, adipiscing at elit, viniam do eiusmod incididunt utlor
                        dolore magna aliqua ut enim ad minim.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-dark">

                            <i class="fa-regular fa-pen-to-square pe-2"></i>
                            <i class="fa-regular fa-envelope-open"></i>
                        </div>
                        <a href="#!" class="link-dark btn-lg px-0">Learn More</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-6 mt-4">
            <div class="card bg-transparent text-center border border-5 border-dark py-5">
                <div class="card-header border-0"><i class="fas fa-database fa-10x text-dark"></i></div>
                <div class="card-body">
                    <div class="px-3">
                        <h1 class="text-dark display-5 fw-bold">Built for Web Platforms</h1>
                        <p class="mt-4 opacity-75">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                </div>
            </div>
        </div>
    </divl>
</div>

<div class="container">
    <div class="row mt-5">

        <div class="col-md-6 my-5">
            <div class="card card-flat mx-auto" style="max-width: 22rem;"><img src="@@path/assets/img/demo/cards.jpg"
                    class="card-img" alt="blog item 1" loading="lazy">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-4"><span
                            class="badge bg-primary">Business</span>
                        <h6 class="fw-normal pt-2"><time datetime="2021-02-15">15 February, 2021</time></h6>
                    </div>
                    <h3 class="text-dark my-3">Lorem ipsum dolor ut adip iscing elit</h3><a href="#!"
                        class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-5">
            <div class="card card-shadow card-img-animate mx-auto" style="max-width: 22rem;">
                <img src="@@path/assets/img/demo/cards.jpg" loading="lazy" class="card-img-top" alt="img item 1">

                <div class="card-body">
                    <span class="badge bg-secondary rounded-pill mb-3"><span class="text-primary">Business</span></span>
                    <h3 class="text-primary">Lorem ipsum dolor ut adip elit</h3>

                    <a href="#!" class="stretched-link"></a>

                </div>
                <div class="card-footer d-flex justify-content-end">
                    <h6 class="text-muted font-weight-normal"><time datetime="2020-11-24">24 November, 2020</time>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-5">
            <div class="card card-shadow hover-translate-up-4 pt-4 mx-auto" style="max-width: 19rem;">
                <div class="card-header border-0 mb-1">
                    <i class="fas fa-chart-line fa-3x text-primary"></i>
                </div>
                <div class="card-body">
                    <h1 class="text-dark mb-3">Interactive Reports</h1>
                    <p>
                        Lorem ipsum dolor amet officia, ut consect adip cing miniam at veniam
                    </p>
                    <a href="#!" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-5">
            <div class="card card-shadow hover-translate-up-4 mx-auto" style="width: 14rem;">
                <div class="card-body text-center py-4">
                    <i class="fas fa-headphones fa-3x text-primary"></i>
                    <h3 class="mt-4 text-primary">Customer Support</h3><a href="#!" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-6 my-5 d-flex justify-content-center">

            <div class="card card-shadow" style="max-width: 24rem;">
                <img src="@@path/assets/img/demo/cards.jpg" class="card-img-top" alt="card img top">
                <div class="card-body py-3">
                    <div class="d-flex justify-content-between mt-2">
                        <span class="badge rounded-pill bg-primary px-3">Success</span>
                        <p class="text-muted m-0">July 15, 2021</p>
                    </div>
                    <h3 class="stretched-link text-dark pt-5 pb-4 d-block">Lorem ipsum ut veniam dos
                        minim
                        quis nos.</h3>
                    <p class="text-muted m-0">
                        Ultrice neque ornare aene anaue viv erra ut vitae congue. At auctor urna nunc
                        id cursus metus aliquam eleif.
                    </p>
                    <a href="#!" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-5 d-flex justify-content-center">

            <div class="row d-flex justify-content-center">
                <div class="col-12">

                    <div class="card card-shadow bg-dark mx-auto" style="max-width: 18rem;">
                        <div class="card-header border-0 pt-3">
                            <i class="far fa-gem fa-2x text-white"></i>
                        </div>
                        <div class="card-body">
                            <h1 class="display-6 text-white text-capitalize">
                                <span class="d-block">
                                    Discover
                                </span>
                                <span class="d-block">
                                    Our
                                </span>
                                <span>
                                    Work
                                </span>
                                <i class="fas fa-chevron-right"></i>
                            </h1>
                            <a href="#!" class="stretched-link"></a>
                        </div>
                    </div>

                </div>
                <div class="col-12 mt-5">
                    <div class="card card-shadow bg-primary text-light mx-auto" style="max-width: 20rem;">
                        <div class="card-header border-0 pb-0 mt-1">
                            <h5 class="font-weight-bold text-white pt-2"><i class="far fa-comment me-1"></i>Message
                            </h5>
                        </div>
                        <div class="card-body">
                            <h4 class="text-capitalize text-white">Quote of the day</h4>
                            <p class="text-white opacity-75 pt-2">
                                "Lorem ipsum dolor consect etur nit amet, adip cing elit magna aliqua"
                            </p>

                            <span class="text-white opacity-50 float-end">Someone Famous</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 my-5">
            <div class="card card-shadow mx-auto py-1">
                <div class="card-body">
                    <h5 class="card-title">Announcements</h5>
                    <h6 class="card-subtitle my-2 text-muted">Design Updates</h6>
                    <p class="py-2">Lorem ipsum dolor veniam, consect adiping elit, dos
                        eius mod minim ut incididunt ad labore et doloremag aliqua</p>
                    <div class="d-flex justify-content-between">
                        <span class="badge bg-light text-dark">Jan 4, 19</span>
                        <a href="#!" class="card-link">Upgrade Plan</a>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-6 my-5">
            <div class="card card-shadow p-4 bg-dark mx-auto" style="max-width: 22rem;">
                <div class="card-header p-0">
                    <h4 class="text-light">Index Funds</h4>
                </div>
                <div class="card-body p-0">
                    <p class="mt-4 text-white opacity-75">
                        Lorem ipsum dolor nit amet, consece tetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut
                        labore et dolor magna aliqua
                    </p>
                    <a href="#!" class="link-light fs-5">Explore <i
                            class="fas fa-long-arrow-alt-right translate-icon ps-1"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row pt-5">

        <div class="col-md-6 my-5">
            <div class="card card-flat py-3">
                <div class="card-body">
                    <div class="card-title py-1">
                        <i class="fas fa-dharmachakra fa-3x text-primary"></i>
                    </div>
                    <div class="card-title py-1">
                        <h4 class="text-capitalize">Powerful technology</h4>
                    </div>
                    <p class="lead">
                        Lorem ipsum dolor nit amet elit venim minim adiping,
                        incididunt veniam nim eiusmod aliquant quis enim risus elitut dos.
                    </p>
                    <a href="#!" class="link-primary fs-5">Learn More <i
                            class="fas fa-long-arrow-alt-right translate-icon ps-1"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-5">
            <div class="card card-shadow">
                <div class="card-body pt-5 text-center">
                    <h3 class="card-title text-primary">Do more with less complexity</h3>

                    <div class="pt-4 pb-2">
                        <a href="#!" class="btn btn-primary rounded-pill">Learn More <i
                                class="fas fa-long-arrow-alt-right ps-2"></i></a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row pt-5">
        <div class="col-lg-4 my-4 d-flex justify-content-center d-lg-block">
            <div class="card card-shadow card-img-animate" style="max-width: 21rem;">
                <img src="@@path/assets/img/demo/cards.jpg" loading="lazy" class="card-img-top" alt="img item 1">

                <div class="card-body">
                    <h5 class="card-title text-primary text-uppercase fw-bold pb-2">Technology</h5>
                    <h3 class="text-dark opacity-75">Lorem ipsum dolor nit adip iscing elit ut veniam</h3>

                    <a href="#!" class="stretched-link"></a>

                </div>
            </div>
        </div>
        <div class="col-lg-4 my-4 d-flex justify-content-center d-lg-block">
            <div class="card card-shadow card-img-animate shadow-xl-dark" style="max-width: 20rem;">
                <img src="@@path/assets/img/demo/cloud.jpg" loading="lazy" class="card-img" alt="img item 2">
                <a href="#!" class="stretched-link"></a>
                <div class="card-title-hover">
                    <h3 class="text-white">Info</h3>
                </div>

            </div>
        </div>
        <div class="col-lg-4 my-4 d-flex justify-content-center d-lg-block">
            <div class="card card-shadow card-img-animate shadow-xl-dark rounded-lg" style="max-width: 20rem;">
                <img src="@@path/assets/img/demo/cards.jpg" loading="lazy" class="card-img" alt="img item 2">
                <a href="#!" class="stretched-link"></a>
                <div class="card-title-hover card-title-overlay">
                    <h1 class="text-white position-absolute top-50 start-50 translate-middle">Info</h1>
                </div>

            </div>
        </div>
    </div>
</div>





<div class="container">
    <div class="row my-5">
        <div class="col-lg-6 my-5">
            <div class="card card-shadow text-center bg-primary py-4">

                <div class="card-body d-flex justify-content-start align-items-center">
                    <div class="p-3">
                        <h1 class="text-white text-capitalize mt-2">Built for web platforms</h1>
                        <p class="text-white pt-5 opacity-75">
                            Lorem ipsum dolor amet, conseceur
                            adiping elit, sed do ut eiusmod
                            tempor incididunt ut labore
                            et dolore magnos aliqua ut enim minim.
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-6 my-5">
            <div class="card card-shadow text-center bg-dark py-4">

                <div class="card-body d-flex justify-content-start align-items-center">
                    <div class="p-3">
                        <h1 class="text-white text-capitalize mt-2">Built for web platforms</h1>
                        <p class="text-white pt-5 opacity-75">Lorem ipsum dolor amet, conseceur
                            adiping elit, sed do ut eiusmod
                            tempor incididunt ut labore
                            et dolore magnos aliqua ut enim minim.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 my-5">
            <div class="card card-shadow bg-dark">
                <div class="card-body text-center py-5">
                    <h2 class="text-white mt-3">Keep exploring features</h2>
                    <p class="lead mt-4 p-sm-3 text-light opacity-75">Lorem ipsum dolor minim dos, consec etur
                        adiping elit, do ut eiusmod
                        tempor incid idunt lab ut
                        et dolore magnos aliqua. Ut enim dos minim veniam, quis exer ullamco
                        labris nisi ut
                        aliquip ex ea com consequat duis aut eirure dolor in.</p>
                    <button class="btn btn-danger rounded-pill mt-3">Read
                        More</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 d-flex justify-content-center my-5">
            <div class="card bg-light border-0" style="max-width: 700px;">
                <div class="card-header border-0 bg-primary pt-3 px-4 px-md-5">
                    <a href="#!" class="link-light stretched-link h3">
                        Read More<i class="fas fa-long-arrow-alt-right ps-2 translate-icon"></i>
                    </a>
                </div>
                <div class="card-body py-4 px-4 px-md-5">
                    <h1 class="text-primary display-7">
                        Lorem ipsum minim elit na amet adpin ut vinam estad eiusmod
                    </h1>
                </div>
            </div>
        </div>
    </div>

</div>




<div class="container-fluid mt-10">
    <div class="row g-0">

        <div class="col-lg-6 my-5 d-flex justify-content-center">
            <div class="card card-shadow px-4" style="max-width: 25rem;">
                <div class="card-header pt-5 border-light pb-3">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                        <h2 class="text-uppercase text-primary">Basic</h2>
                        <button class="btn btn-secondary btn-sm rounded-lg"><i class="fas fa-user fa-2x text-primary"></i><span
                                class="h3 ms-3 text-primary">1</span> </button>
                    </div>
                    <div class="d-flex align-items-center">
                        <h1 class="text-primary display-5 fw-normal">$9</h1>
                        <div class="ms-3">
                            <h5 class="text-muted">per user</h5>
                            <h5 class="text-muted">per month</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body py-4 px-0">

                    <p>
                        Lorem ipsum dolor elit amet at vin adiping ut vinam estad eiusmod ad, consec ut adiping
                        elit, do eiusm od tempore
                        inunt ut
                        labore et dolore magna
                    </p>

                </div>
                <div class="card-footer border-0 d-grid px-0 text-center">
                    <button class="btn btn-primary rounded-pill">
                        Start Trial
                    </button>
                    <p class="text-muted py-2">Lorem ipsum dolor nit amet</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 my-5 d-flex justify-content-center">
            <div class="card card-shadow shadow-xl-primary px-4 bg-primary" style="max-width: 25rem;">
                <div class="card-header pt-5 border-light pb-3">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                        <h2 class="text-uppercase text-white">Team</h2>
                        <button class="btn btn-light btn-sm rounded-lg"><i class="fas fa-user fa-2x text-primary"></i><span
                                class="h3 ms-3 text-primary">1</span> </button>
                    </div>
                    <div class="d-flex align-items-center">
                        <h1 class="text-white display-5 fw-normal">$18</h1>
                        <div class="ms-3">
                            <h5 class="text-light">per user</h5>
                            <h5 class="text-light">per month</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body py-4 px-0">

                    <p class="text-white">
                        Lorem ipsum dolor elit amet at vin adiping ut vinam estad eiusmod ad, consec ut adiping
                        elit, do eiusm od tempore
                        inunt ut
                        labore et dolore magna
                    </p>

                </div>
                <div class="card-footer border-0 d-grid px-0 text-center">
                    <button class="btn btn-light rounded-pill">
                        Start Trial
                    </button>
                    <p class="text-light py-2">Lorem ipsum dolor nit amet</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 my-8">
            <div class="card card-shadow px-4 user-select-none pb-4 mx-auto" style="max-width: 22rem;">
                <div class="card-header pt-5 border-light pb-3">
                    <div class="mb-4">
                        <h2 class="text-uppercase text-dark mb-3">Basic</h2>
                        <p class="text-muted">Lorem ipsum dolor amet consec tetur adiping elit, dos
                            eius aliqa empor inci didunt ut labore et
                        </p>
                    </div>
                    <div class="d-flex align-items-center pt-2">
                        <h1 class="text-dark display-6 fw-normal">$9</h1>
                        <div class="ms-3">
                            <h6 class="text-muted">per user</h6>
                            <h6 class="text-muted">per month</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body py-4 px-0">

                    <ul class="list-unstyled px-3">
                        <li class="py-2"><i class="fas fa-check me-2"></i> Lorem ipsum dolor nit</li>
                        <li class="py-2"><i class="fas fa-check me-2"></i> Amet consect adip</li>
                        <li class="py-2"><i class="fas fa-check me-2"></i> Sed do eiusmod temp</li>
                        <li class="py-2"><i class="fas fa-check me-2"></i> Incididunt ut labore et</li>
                        <li class="py-2"><i class="fas fa-check me-2"></i> Ut enim ad minim veniam</li>
                        <li class="py-2"><i class="fas fa-check me-2"></i> Duis aute irure dolor</li>
                    </ul>

                </div>
                <div class="card-footer border-0 d-grid px-0 text-center">
                    <button class="btn btn-dark rounded-pill">
                        Start Trial
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 my-8">
            <div class="card card-shadow px-4 user-select-none pb-4 mx-auto" style="max-width: 22rem;">
                <div class="card-header pt-5 border-light pb-3">
                    <div class="mb-4">

                        <h2 class="text-uppercase text-primary mb-3">Premium</h2>
                        <p class="text-muted">Lorem ipsum dolor amet consec tetur adiping elit, dos
                            eius aliqa empor inci didunt ut labore et
                        </p>
                    </div>
                    <div class="d-flex align-items-center pt-2">
                        <h1 class="text-primary display-6 fw-normal">$18</h1>
                        <div class="ms-3">
                            <h6 class="text-muted">per user</h6>
                            <h6 class="text-muted">per month</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body py-4 px-0">

                    <ul class="list-unstyled px-3">
                        <li class="py-2"><i class="fas fa-check me-2"></i> Lorem ipsum dolor nit</li>
                        <li class="py-2"><i class="fas fa-check me-2"></i> Amet consect adip</li>
                        <li class="py-2"><i class="fas fa-check me-2"></i> Sed do eiusmod temp</li>
                        <li class="py-2"><i class="fas fa-check me-2"></i> Incididunt ut labore et</li>
                        <li class="py-2"><i class="fas fa-check me-2"></i> Ut enim ad minim veniam</li>
                        <li class="py-2"><i class="fas fa-check me-2"></i> Duis aute irure dolor</li>
                    </ul>

                </div>
                <div class="card-footer border-0 d-grid px-0 text-center">
                    <button class="btn btn-primary rounded-pill">
                        Start Trial
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container mt-10">
    <div class="row">
        <div class="col position-relative rounded-lg">
            <div class="row card-segment">
                <div class="col-lg-6 card-segment-left px-3">
                    <img src="@@path/assets/img/demo/dashboard.svg" style="max-width: 300px;" />
                </div>
                <div class="col-lg-6 card-segment-right">

                    <div class="card card-shadow me-lg-4">
                        <div class="card-body">
                            <h6 class="card-description">Everywhere</h6>
                            <h5 class="card-title text-dark">Build custom charts</h5>
                            <p class="py-3">
                                Lorem ipsum dolor vene natis ut at magna elit
                                fring urna at rhoncus ipsum aita amet ut porttitor eget dor at iniam.
                                Vulputate eu ut eniam ut scel erisque felis imperdiet proin.
                                Atrisus em vivera viniam adip iscing atin.
                            </p>
                            <div class="text-center">
                                <button class="btn btn-primary rounded-pill hover-translate-up-2">Build
                                    charts</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-10 mb-5">
    <div class="row">
        <div class="col-md-6 my-3">
            <div class="card card-shadow mx-auto" style="max-width: 22rem;">
                <div class="mt-4 d-flex justify-content-center">
                    <img class="img-fluid rounded-circle img-user-avatar" src="@@path/assets/img/team/user-1.png"
                        alt="user-1" />
                </div>
                <div class="card-body text-center mt-2">
                    <h3>Amy Baker</h3>
                    <h5 class="opacity-65">User Role</h5>
                    <p class="mt-4">
                        Lorem ipsum dolor amet veniam. Miniam aute irure dolor in ut officia.
                    </p>
                    <div class="mt-4">
                        <button class="btn btn-primary btn-sm rounded-pill">Ask a Question</button>
                        <p class="pt-3">Call or Text (123) 456-7890</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-3">
            <div class="card card-shadow hover-translate-up-4 pt-4 mx-auto text-center" style="max-width: 20rem;">
                <div class="card-header border-0 mb-1">
                    <i class="fas fa-at fa-3x text-primary"></i>
                </div>
                <div class="card-body">
                    <h1 class="text-primary mb-3">Email</h1>
                    <p>
                        Lorem ipsum dolor amet officia, ut consect adip cing miniam
                    </p>
                    <a href="#!" class="stretched-link"></a>
                </div>
                <div class="card-footer">
                    <h5 class="text-dark mb-3">info@company.com</h5>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-10 mb-5">
    <div class="row">
        <div class="col-md-6 my-3 d-flex justify-content-center">
            <div class="card card-shadow pt-3 bg-dark" style="max-width: 20rem;">
                <div class="card-header d-flex align-items-center justify-content-between border-light pt-1">
                    <h2 class="text-light">Featured</h2>
                    <a href="#!" class="h3"><i class="fas fa-info-circle text-light"></i></a>
                </div>
                <div class="card-body">
                    <h4 class="my-4 text-light opacity-75">
                        Lorem ipsum dolorea nimamet consec etur elit adipiscing, ut do eiusmod..
                    </h4>
                    <p class="mt-5 text-light opacity-75">
                        Ut enim ad minim veniam dolor, quisnos exercitation ullamco nisi ut aliquip ea utam
                        em consequat. Duis aute irure dolor in reprehen de arit in voluptate velit essec dolore
                        eu fugiat nulla pari atur nimamet.
                    </p>
                </div>
                <div class="card-footer d-flex justify-content-between border-light pt-3 pb-1">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#!" class="text-light"><i class="far fa-clock"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-light"> <i class="fas fa-folder"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-light"><i class="fas fa-comment"></i></a>
                        </li>
                    </ul>
                    <a class="link-light" href="#!">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-3 d-flex justify-content-center">
            <div class="card card-shadow pt-3 bg-primary" style="max-width: 20rem;">
                <div class="card-header d-flex align-items-center justify-content-between border-light pt-1">
                    <h2 class="text-white">Featured</h2>
                    <a href="#!" class="h3"><i class="fas fa-info-circle text-white"></i></a>
                </div>
                <div class="card-body">
                    <h4 class="my-4 text-white">
                        Lorem ipsum dolorea nimamet consec etur elit adipiscing, ut do eiusmod..
                    </h4>
                    <p class="mt-5 text-white opacity-75">
                        Ut enim ad minim veniam dolor, quisnos exercitation ullamco nisi ut aliquip ea utam
                        em consequat. Duis aute irure dolor in reprehen de arit in voluptate velit essec dolore
                        eu fugiat nulla pari atur nimamet.
                    </p>
                </div>
                <div class="card-footer d-flex justify-content-between border-light pt-3 pb-1">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#!" class="text-light"><i class="far fa-clock"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-light"> <i class="fas fa-folder"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-light"><i class="fas fa-comment"></i></a>
                        </li>
                    </ul>
                    <a class="link-light" href="#!">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-6 my-5 d-flex justify-content-center">
            <div class="card card-shadow rounded-lg" style="width: 22rem;">
                <img src="@@path/assets/img/demo/cards.jpg" loading="lazy" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="mt-3 text-uppercase text-primary fw-bold">design</h5>
                    <h4 class="mt-4">
                        Lorem ipsum veniams dos enim quis aliqa ut amet minim.
                    </h4>
                    <a href="#!" class="stretched-link"></a>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <div class="pb-1">
                        <i class="fas fa-comment-dots text-muted"></i>
                        <span class="mx-2 fs-5 fw-bold">1000</span>
                    </div>
                    <div class="pb-1">
                        <span class="text-muted fw-bold"> <time datetime="2021-06-06"></time>June 6, 2021</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-5 d-flex justify-content-center">
            <div class="card card-shadow rounded-lg user-select-none" style="width: 22rem;">
                <img src="@@path/assets/img/demo/cards.jpg" loading="lazy" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="mt-3 text-uppercase text-primary fw-bold">Trending</h5>
                    <h4 class="my-4">Lorem ipsum veniams dos enim quis aliqa ut amet minim.</h4>
                    <div class="text-center">
                        <button class="btn btn-primary rounded-pill">Learn More</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="container">
    <div class="row pt-5">
        <div class="col-md-6 my-5">
            <div class="card card-shadow text-center bg-dark py-4">
                <div class="card-header border-0">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title text-body opacity-75">Project Scoping</h5>
                    <p class="p-3 opacity-50">
                        Lorem ipsum dolor nit amet, consect etur adiping elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                    </p>
                    <a href="#!" class="btn btn-danger btn-sm rounded-pill">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-5">
            <div class="card card-shadow pt-4 bg-dark">

                <div class="card-body text-center px-4">
                    <h1 class="pb-2 text-danger">Digital Marketing</h1>
                    <p class="p-2 py-4 opacity-50">
                        Lorem ipsum dolor nit amet, consect etur adiping elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                    </p>
                    <div class="text-center pb-2">
                        2 days ago
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>