<div class="container">


    <div class="row">
        <div class="col-md-6 mt-5">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <h6 class="dropdown-header">Dropdown header</h6>
                    </li>
                    <li><a class="dropdown-item" href="#!">Action</a></li>
                    <li><a class="dropdown-item active" href="#!" aria-current="true">Active link</a></li>
                    <li><a class="dropdown-item disabled" href="#!" tabindex="-1" aria-disabled="true">Disabled link</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#!">Separated link</a></li>
                    <div class="px-3 text-muted">
                        <p>
                            Some example text that's free-flowing within the dropdown menu.
                        </p>
                    </div>
                </ul>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Split Dropdown</button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#!">Action</a></li>
                    <li><a class="dropdown-item" href="#!">Another action</a></li>
                    <li><a class="dropdown-item" href="#!">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#!">Separated link</a></li>
                </ul>
            </div>
        </div>


    </div>
    <div class="row">

        <div class="col-md-6 mt-5">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu5"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Icons
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#!"> <i class="far fa-clock pe-2"></i>Track time</a>
                    <a class="dropdown-item" href="#!"><i class="far fa-envelope pe-2"></i>Contact</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#!"><i class="far fa-sun pe-2"></i>Settings</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Dark Dropdown
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <li>
                        <h6 class="dropdown-header">Dropdown header</h6>
                    </li>
                    <li><a class="dropdown-item active" href="#!">Action</a></li>
                    <li><a class="dropdown-item" href="#!">Another action</a></li>
                    <li><a class="dropdown-item" href="#!">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#!">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-1">

        <div class="col-sm-6 mt-4">
            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Right-aligned menu
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6  mt-4">
            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
                    data-bs-display="static" aria-expanded="false">
                    Right-aligned lg
                </button>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6  mt-4">
            <div class="btn-group">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
                    data-bs-display="static" aria-expanded="false">
                    Left-aligned lg
                </button>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-6  mt-4">
            <div class="btn-group dropend">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Dropend
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                </ul>
            </div>

        </div>

        <div class="col-sm-6 mt-4">
            <div class="dropstart">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Dropstart
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-6  mt-4">
            <div class="dropup">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Dropup
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                    <li><a class="dropdown-item" href="#!">Menu item</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>