<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">

            <div class="form-group">
                <label>Regular</label>
                <input type="text" class="form-control">
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>


        </div>
        <div class="col-md-4 mt-5">

            <div class="form-group">
                <label>Valid</label>
                <input type="text" class="form-control is-valid">
            </div>

        </div>
        <div class="col-md-4 mt-5">
            <div class="form-group">
                <label>Invalid</label>
                <input type="text" class="form-control is-invalid">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-5">

            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">


        </div>
        <div class="col-md-4 mt-5">

            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

        </div>

    </div>
    <div class="row">
        <div class="col-md-4 mt-5">

            <div class="form-group">
                <label>Regular</label>
                <input type="text" class="form-control form-control-soft">
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>


        </div>
        <div class="col-md-4 mt-5">

            <div class="form-group">
                <label>Valid</label>
                <input type="text" class="form-control form-control-soft is-valid">
            </div>

        </div>
        <div class="col-md-4 mt-5">
            <div class="form-group">
                <label>Invalid</label>
                <input type="text" class="form-control form-control-soft is-invalid">
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <h3>Floating Labels</h3>
        <div class="col-md-4 mt-5">
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>

        </div>
        <div class="col-md-4 mt-5">
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <form class="form-floating">
                <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com"
                    value="test@example.com">
                <label for="floatingInputValue">Input with value</label>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="form-group">

                <input type="text" class="form-control  form-control-soft form-control-highlight"
                    placeholder="form control soft with highlight">
            </div>

        </div>
        <div class="col-md-4 mt-5">

            <div class="form-group">

                <input type="text" class="form-control form-control-highlight"
                    placeholder="form control with highlight">
            </div>



        </div>
        <div class="col-md-4 mt-5">
            <div class="form-group">

                <input type="text" class="form-control form-control-soft  is-invalid"
                    placeholder="form control accent invalid">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-5">

            <input type="text" class="form-control form-control-soft" placeholder="form control soft">

        </div>
        <div class="col-md-4 mt-5">

            <input type="text" class="form-control  rounded-pill" placeholder="form control rounded">


        </div>
        <div class="col-md-4 mt-5">

            <input type="email" class="form-control  rounded-0" placeholder="form control square">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-5">
            <input class="form-control form-control-sm" type="text" placeholder="small">
        </div>
        <div class="col-md-4 mt-5">
            <input class="form-control" type="text" placeholder="regular">
        </div>
        <div class="col-md-4 mt-5">
            <input class="form-control form-control-lg" type="text" placeholder="large">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-5">
            <input class="form-control" type="text" placeholder="Readonly input" readonly>
        </div>
        <div class="col-md-6 mt-5">
            <input class="form-control form-control-soft" type="text" placeholder="Readonly input" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            <form class="row g-3">
                <div class="col-auto">
                    <label for="staticEmail2" class="visually-hidden">Email</label>
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" required
                        value="email@example.com">
                </div>
                <div class="col-auto">
                    <label for="inputPassword2" class="visually-hidden">Password</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password" required>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Confirm identity</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            <label for="exampleDataList" class="form-label">Datalist example</label>
            <input class="form-control" list="datalistOptions" id="exampleDataList"
                placeholder="Type to search from options...">
            <datalist id="datalistOptions">
                <option value="San Francisco">
                <option value="New York">
                <option value="Seattle">
                <option value="Los Angeles">
                <option value="Chicago">
            </datalist>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-5">
            <label for="exampleColorInput" class="form-label">Color picker</label>
            <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#5a09f3"
                title="Choose your color" style="height: 50px;">

        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h3>Input Groups</h3>
        </div>
        <div class="col-12">
            <div class="input-group mt-5">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control border-start-0" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mt-5">
                <input type="text" class="form-control border-end-0" placeholder="Recipient's username"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">@example.com</span>
            </div>

            <div class="input-group mt-5">
                <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                <input type="text" class="form-control border-start-0" id="basic-url" aria-describedby="basic-addon3">
            </div>

            <div class="input-group mt-5">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control border-start-0 border-end-0"
                    aria-label="Amount (to the nearest dollar)">
                <span class="input-group-text">.00</span>
            </div>

            <div class="input-group mt-5">
                <span class="input-group-text">With textarea</span>
                <textarea class="form-control border-start-0" aria-label="With textarea"></textarea>
            </div>

        </div>
        <div class="col-md-6">
            <div class="input-group mt-5">
                <button class="btn btn-outline-primary" type="button" id="button-addon1">Button</button>
                <input type="text" class="form-control border-start-0" placeholder=""
                    aria-label="Example text with button addon" aria-describedby="button-addon1">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group mt-5">
                <input type="text" class="form-control border-end-0" placeholder="Recipient's username"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="button" id="button-addon2">Button</button>
            </div>
        </div>
    </div>




    <div class="row mt-5">
        <div class="col-12">
            <h3 class="my-5">Inputs</h3>
        </div>
        <div class="col-sm-4 pt-4">
            <h5 class="mb-4">Checkboxes</h5>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Default checkbox
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Checked checkbox
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                    Indeterminate checkbox
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
                <label class="form-check-label" for="flexCheckDisabled">
                    Disabled checkbox
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                <label class="form-check-label" for="flexCheckCheckedDisabled">
                    Disabled checked checkbox
                </label>
            </div>
        </div>
        <div class="col-sm-4 pt-4">
            <h5 class="mb-4">Radios</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Default radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Default checked radio
                </label>
            </div>
        </div>
        <div class="col-sm-4 pt-4">
            <h5 class="mb-4">Slider</h5>
            <label for="customRange1" class="form-label">Example range</label>
            <input type="range" class="form-range" id="customRange1">
            <br>
            <br>
            <label for="customRange3" class="form-label">Example range</label>
            <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
        </div>



    </div>
    <div class="row mt-5">
        <div class="col-sm-6">
            <h5 class="mb-4">Switches</h5>
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
            </div>
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
            </div>
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled>
                <label class="form-check-label" for="flexSwitchCheckDisabled">Disabled switch checkbox input</label>
            </div>
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>
                <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Disabled checked switch checkbox
                    input</label>
            </div>

        </div>
        <div class="col-sm-6">
            <h5 class="mb-4">File Upload</h5>
            <div class="mb-5">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control form-control-soft" type="file" id="formFile">
            </div>
            <div class="mb-5">
                <label for="formFileDisabled" class="form-label">Disabled file input example</label>
                <input class="form-control" type="file" id="formFileDisabled" disabled>
            </div>
            <div>
                <label for="formFileLg" class="form-label">Large file input example</label>
                <input class="form-control form-control-lg form-control-soft" id="formFileLg" type="file">
            </div>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-12">
            <h3 class="my-5">Form Validation</h3>
        </div>
        <div class="col-12">
            <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                    <label for="validationCustom01" class="form-label">First name</label>
                    <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom02" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4">

                    <label for="validationCustom07" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="validationCustom07" value="" required>
                    <div class="invalid-feedback">
                         Please choose a username.
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom03" class="form-label">City</label>
                    <input type="text" class="form-control" id="validationCustom03" required>
                    <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationCustom04" class="form-label">State</label>
                    <input type="text" class="form-control" id="validationCustom04" required>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationCustom05" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="validationCustom05" required>
                    <div class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                            Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </form>
        </div>
        <div class="col-12">
            <h3 class="my-5">Form Validation Tooltips</h3>
        </div>
        <div class="col-12">
            <form class="row g-3 needs-validation" novalidate>
                 <div class="col-12 my-3 d-flex justify-content-end">
                     <button class="btn btn-primary" type="submit">Submit form</button>
                 </div>
                <div class="col-md-4 position-relative">
                    <label for="validationTooltip01" class="form-label">First name</label>
                    <input type="text" class="form-control" id="validationTooltip01" value="Mark" required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 position-relative">
                    <label for="validationTooltip02" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="validationTooltip02" value="Otto" required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 position-relative">

                     <label for="validationTooltipUsername" class="form-label">User Name</label>
                     <input type="text" class="form-control" id="validationTooltipUsername" value="" required>
                     <div class="invalid-tooltip">
                         Please choose a username.
                     </div>

                </div>
                <div class="col-md-6 position-relative">
                    <label for="validationTooltip03" class="form-label">City</label>
                    <input type="text" class="form-control" id="validationTooltip03" required>
                    <div class="invalid-tooltip">
                        Please provide a valid city.
                    </div>
                </div>
                <div class="col-md-3 position-relative">
                    <label for="validationTooltip04" class="form-label">State</label>
                     <input type="text" class="form-control" id="validationTooltip04" required>
                    <div class="invalid-tooltip">
                        Please select a valid state.
                    </div>
                </div>
                <div class="col-md-3 position-relative">
                    <label for="validationTooltip05" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="validationTooltip05" required>
                    <div class="invalid-tooltip">
                        Please provide a valid zip.
                    </div>
                </div>
            </form>
        </div>
    </div>



</div>