<div class="container">

    <div class="row">
        <div class="col-sm-6 col-lg-3 mt-5">
            <h5 class="mb-4">Rounded</h5>
            <div class="text-center">
                <img src="@@path/assets/img/team/user-1.png" class="img-fluid rounded"
                    style="width: 180px; height:180px;" />
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mt-5">
            <h5 class="mb-4">Circle</h5>
            <div class="text-center">
                <img src="@@path/assets/img/team/user-1.png" class="img-fluid rounded-circle"
                    style="width: 180px; height:180px;" />
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mt-5">
            <h5 class="mb-4">Thumbnail</h5>
            <div class="text-center">
                <img src="@@path/assets/img/team/user-1.png" class="img-thumbnail rounded"
                    style="width: 180px; height:180px;" />
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mt-5">
            <h5 class="mb-4">Thumbnail Circle</h5>
            <div class="text-center">
                <img src="@@path/assets/img/team/user-1.png" class="img-thumbnail rounded-circle"
                    style="width: 180px; height:180px;" />
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 mb-3">
            <h3>Aligning Images</h3>
        </div>
        <div class="col-12">
            <img src="@@path/assets/img/team/user-1.png" style="width: 180px; height:180px;" class="rounded float-start mt-3"
                alt="...">
            <img src="@@path/assets/img/team/user-1.png" style="width: 180px; height:180px;" class="rounded float-end mt-3"
                alt="...">
        </div>
    </div>
</div>