<div class="container">

    <div class="row mt-5">
        <div class="col-md-6 mt-5">
            <div class="list-group list-group-checkable">
                <input class="list-group-item-check" type="radio" name="listGroupCheckableRadios"
                    id="listGroupCheckableRadios1" value="" checked="">
                <label class="list-group-item py-3" for="listGroupCheckableRadios1">
                   Contract Management
                    <span class="d-block small opacity-50">With support text underneath to add more detail</span>
                </label>

                <input class="list-group-item-check" type="radio" name="listGroupCheckableRadios"
                    id="listGroupCheckableRadios2" value="">
                <label class="list-group-item py-3" for="listGroupCheckableRadios2">
                    Team Meeting
                    <span class="d-block small opacity-50">Some other text goes here</span>
                </label>

                <input class="list-group-item-check" type="radio" name="listGroupCheckableRadios"
                    id="listGroupCheckableRadios3" value="">
                <label class="list-group-item py-3" for="listGroupCheckableRadios3">
                    Resource Planning
                    <span class="d-block small opacity-50">And we end with another snippet of text</span>
                </label>

                <input class="list-group-item-check" type="radio" name="listGroupCheckableRadios"
                    id="listGroupCheckableRadios4" value="" disabled="">
                <label class="list-group-item py-3" for="listGroupCheckableRadios4">
                    Disabled option
                    <span class="d-block small opacity-50">This option is disabled</span>
                </label>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="list-group">
                <label class="list-group-item d-flex gap-3">
                    <span class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <span class="form-check-content" for="flexCheckChecked">
                            <strong>Finish sales report</strong>
                            <small class="d-block text-muted my-1">
                                <i class="fa-regular fa-calendar me-1"></i> 1:00–2:00pm
                            </small>
                        </span>
                    </span>
                </label>
                <label class="list-group-item d-flex gap-3">
                    <span class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-content">
                            <strong>Weekly All Hands</strong>
                            <small class="d-block text-muted my-1">
                               <i class="fa-regular fa-calendar me-1"></i>
                                2:00–2:30pm
                            </small>
                        </span>
                    </span>
                </label>
                <label class="list-group-item d-flex gap-3">
                    <span class="form-check">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-content">
                            <strong>Out of office</strong>
                            <small class="d-block text-muted my-1">
                                <i class="fa-regular fa-calendar me-1"></i>
                                Tomorrow
                            </small>
                        </span>
                    </span>
                </label>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 mt-5">
            <ul class="list-group">
                <li class="list-group-item active">Current item</li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    With badge
                    <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    A third list item
                    <span class="badge bg-primary rounded-pill">2</span>
                </li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
        <div class="col-md-6 mt-5">
            <div class="list-group">
                <a href="#!" class="list-group-item list-group-item-action active" aria-current="true">
                    The current link item
                </a>
                <a href="#!" class="list-group-item list-group-item-action">A second link item</a>
                <a href="#!" class="list-group-item list-group-item-action">A third link item</a>
                <a href="#!" class="list-group-item list-group-item-action">A fourth link item</a>
                <a href="#!" class="list-group-item list-group-item-action disabled" tabindex="-1"
                    aria-disabled="true">A
                    disabled link item</a>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <h5 class="text-muted my-3">Flush</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
        <div class="col-md-6 mt-5">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Cras justo odio
                    </div>
                    <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Cras justo odio
                    </div>
                    <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Subheading</div>
                        Cras justo odio
                    </div>
                    <span class="badge bg-primary rounded-pill">14</span>
                </li>
            </ol>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 mt-3">
            <div class="list-group">


                <div class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5>Contract Management</h5>
                            <span class="d-block">Lorem ipsum dolor</span>
                            <span class="d-block">Donna Alba</span>
                        </div>
                        <div>
                            <small class="d-block text-muted">2 hrs ago</small>
                        </div>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5>Resources</h5>
                            <span class="d-block">Lorem ipsum dolor</span>
                            <span class="d-block">Amy Baker</span>
                        </div>
                        <div>
                            <small class="d-block text-muted">6 hrs ago</small>
                        </div>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5>Team meating</h5>
                            <span class="d-block">Lorem ipsum dolor</span>
                            <span class="d-block">Eric Harris</span>
                        </div>
                        <div>
                            <small class="d-block text-muted">Yesterday</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-start">
                            <img src="@@path/assets/img/team/user-1.png" class="rounded-circle"
                                style="width: 45px; height: 45px;" />
                            <div class="ms-3">
                                <h6>Donna Alba</h6>
                                <span>Lorem ipsum dolor</span>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-dark float-right">Add</button>
                    </div>
                </div>
                <div class="list-group-item">
                     <div class="d-flex align-items-center justify-content-between">
                         <div class="d-flex align-items-start">
                             <img src="@@path/assets/img/team/user-2.png" class="rounded-circle"
                                 style="width: 45px; height: 45px;" />
                             <div class="ms-3">
                                 <h6>Eric Harris</h6>
                                 <span>Lorem ipsum dolor</span>
                             </div>
                         </div>
                         <button class="btn btn-sm btn-dark float-right">Add</button>
                     </div>
                   
                </div>
                <div class="list-group-item">
                   <div class="d-flex align-items-center justify-content-between">
                       <div class="d-flex align-items-start">
                           <img src="@@path/assets/img/team/user-3.png" class="rounded-circle"
                               style="width: 45px; height: 45px;" />
                           <div class="ms-3">
                               <h6>Amy Baker</h6>
                               <span>Lorem ipsum dolor</span>
                           </div>
                       </div>
                       <button class="btn btn-sm btn-dark float-right">Add</button>
                   </div>
                </div>
            </div>
        </div>
    </div>


</div>