<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#!">
            <img src="@@path/assets/img/logo.svg" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#!">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Products</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Features
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Action</a></li>
                        <li><a class="dropdown-item" href="#!">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#!">Something else here</a></li>
                    </ul>
                </li>
            </ul>

            <form class="d-flex mb-0">
                <input class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary btn-sm" type="button">Search</button>
            </form>

        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mt-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="#!">
            <img src="@@path/assets/img/logo-white.svg" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#!">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Pricing</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-secondary mt-5">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav3"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#!">
            <img src="@@path/assets/img/logo.svg" />
        </a>

        <div class="collapse navbar-collapse" id="navbarNav3">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#!">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Pricing</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="mt-6 position-relative"
    style="height: 350px; background: url(@@path/assets/img/demo/cloud.jpg); background-position: center; background-size: cover;">
    <header class="position-absolute container nav-z-index-fixed">
        <nav class="navbar navbar-light navbar-transparent">
            <div class="container">
                <a class="navbar-brand" href="../../">
                    <img src="@@path/assets/img/logo.svg" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto me-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#!">Overview</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="ddlsections" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Start
                            </a>
                            <div class="dropdown-menu">
                                <div class="row py-2">
                                    <div class="col">
                                        <a class="dropdown-item" href="#!">Call-to-Action
                                            (CTA)</a>
                                        <a class="dropdown-item" href="#!">Clients</a>
                                        <a class="dropdown-item" href="#!">Features</a>
                                        <a class="dropdown-item" href="#!">Footers</a>
                                        <a class="dropdown-item" href="#!">Headers</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="ddlDocumentation" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Theme
                            </a>
                            <div class="dropdown-menu">
                                <div class="row py-2">
                                    <div class="col">
                                        <a class="dropdown-item" href="#!">All Components</a>
                                        <a class="dropdown-item" href="#!">Support</a>
                                    </div>

                                </div>

                            </div>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="ddlPages" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                User
                            </a>
                            <div class="dropdown-menu">
                                <div class="row py-2">
                                    <div class="col ps-3">
                                        <a class="dropdown-item" href="#!">Profile</a>
                                        <a class="dropdown-item" href="#!">Settings</a>
                                    </div>


                                </div>

                            </div>
                        </li>
                    </ul>
                    <div class="d-grid mt-3 mt-lg-0 px-2 px-lg-0">
                        <a class="btn btn-primary btn-sm" href="#!">Home <i class="fas fa-home ms-1"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>