<div class="container-fluid">

    <div class="row mt-5">
        <div class="col-12">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#!">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#!" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="co-12 mt-6">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#!">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#!" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row mt-6">
        <div class="col-md-6 pt-2">
            <h5 class="mb-4">Tabs</h5>
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-2" role="tab"
                        type="button" aria-controls="home" aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-2" role="tab"
                        type="button" aria-controls="profile" aria-selected="false">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-2" role="tab"
                        type="button" aria-controls="contact" aria-selected="false">Contact</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-2" role="tabpanel" aria-labelledby="home-tab">
                    <p>
                        Lorem ipsum dolor sit consectetur adipiscing elit, do eiusmod temp or incididunt ut
                        et dolore magna qua. Utenim ad minim veniam, quisnos exercitation consequat.
                        Duis aute irure dolor in reprehenderit.
                    </p>
                </div>
                <div class="tab-pane fade" id="profile-2" role="tabpanel" aria-labelledby="profile-tab">
                    <p>
                        Nec tincidunt praesent semper feugiat pulvinar proin gravida.
                        Ultrices dui sapien eget mi. Urna neque viverra justo nec ultrices dui.
                        Consectetur purus et ucibus pulvinar elementum integer enim ipsum
                        vitae aliquet nec.
                    </p>
                </div>
                <div class="tab-pane fade" id="contact-2" role="tabpanel" aria-labelledby="contact-tab">
                    <p>
                        Elit pellentesque habitant morbi tris tique senectus netuset tinid.
                        Unta pulvinar sapien et ligula ullamper. Ultrices sagittis orci a scelerisque purus semper eget.
                        Pulvinar neque laoreet suspendisse interdum consectetur libero.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 pt-2">
            <h5 class="mb-4">Pills with Icon</h5>
            <ul class="nav nav-pills" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-bs-toggle="pill" data-bs-target="#home-10"
                        type="button" role="tab" aria-controls="home" aria-selected="true">

                        <i class="far fa-chart-bar px-1"></i>

                        Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="pill" data-bs-target="#profile-10"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">

                        <i class="far fa-address-card px-1"></i>

                        Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-bs-toggle="pill" data-bs-target="#contact-10"
                        type="button" role="tab" aria-controls="contact" aria-selected="false">

                        <i class="far fa-calendar px-1"></i>

                        Contact</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-10" role="tabpanel" aria-labelledby="home-tab">
                    <p>
                        Lorem ipsum dolor sit consectetur adipiscing elit, do eiusmod temp or incididunt ut
                        et dolore magna qua. Utenim ad minim veniam, quisnos exercitation consequat.
                        Duis aute irure dolor in reprehenderit.
                    </p>
                </div>
                <div class="tab-pane fade" id="profile-10" role="tabpanel" aria-labelledby="profile-tab">
                    <p>
                        Nec tincidunt praesent semper feugiat pulvinar proin gravida.
                        Ultrices dui sapien eget mi. Urna neque viverra justo nec ultrices dui.
                        Consectetur purus et ucibus pulvinar elementum integer enim ipsum
                        vitae aliquet nec.
                    </p>
                </div>
                <div class="tab-pane fade" id="contact-10" role="tabpanel" aria-labelledby="contact-tab">
                    <p>
                        Elit pellentesque habitant morbi tris tique senectus netuset tinid.
                        Unta pulvinar sapien et ligula ullamper. Ultrices sagittis orci a scelerisque purus semper
                        eget.
                        Pulvinar neque laoreet suspendisse interdum consectetur libero.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-6">
        <div class="col-md-6 pt-1">
            <h5 class="mb-4">Tabs Icon</h5>
            <ul class="nav nav-tabs  justify-content-center nav-icon-only" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-5" role="tab"
                        type="button" aria-controls="home" aria-selected="true">
                        <i class="far fa-building fa-2x px-2"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-5" role="tab"
                        type="button" aria-controls="profile" aria-selected="false">
                        <i class="far fa-chart-bar fa-2x px-2"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-5" role="tab"
                        type="button" aria-controls="contact" aria-selected="false">
                        <i class="far fa-address-card fa-2x px-2"></i></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="home-5" role="tabpanel" aria-labelledby="home-tab">
                    <p>
                        Lorem ipsum dolor sit consectetur adipiscing elit, do eiusmod temp or incididunt ut
                        et dolore magna qua. Utenim ad minim veniam, quisnos exercitation consequat.
                        Duis aute irure dolor in reprehenderit.
                    </p>
                </div>
                <div class="tab-pane fade" id="profile-5" role="tabpanel" aria-labelledby="profile-tab">
                    <p>
                        Nec tincidunt praesent semper feugiat pulvinar proin gravida.
                        Ultrices dui sapien eget mi. Urna neque viverra justo nec ultrices dui.
                        Consectetur purus et ucibus pulvinar elementum integer enim ipsum
                        vitae aliquet nec.
                    </p>
                </div>
                <div class="tab-pane fade" id="contact-5" role="tabpanel" aria-labelledby="contact-tab">
                    <p>
                        Elit pellentesque habitant morbi tris tique senectus netuset tinid.
                        Unta pulvinar sapien et ligula ullamper. Ultrices sagittis orci a scelerisque purus semper
                        eget.
                        Pulvinar neque laoreet suspendisse interdum consectetur libero.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-6 pt-1">
            <h5 class="mb-4">Pills</h5>
            <ul class="nav nav-pills justify-content-center nav-icon-only" role="tablist">
                <li class="nav-item me-2 text-center">
                    <a class="nav-link active" id="home-tab" data-bs-toggle="pill" data-bs-target="#home-6" role="tab"
                        type="button" aria-controls="home" aria-selected="true">
                        <i class="far fa-building fa-2x"></i></a>
                        <h6 class=" text-primary my-2">Home</h6>
                </li>
                <li class="nav-item me-2 text-center">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="pill" data-bs-target="#profile-6" role="tab"
                        type="button" aria-controls="profile" aria-selected="false">
                        <i class="far fa-chart-bar fa-2x"></i>
                    </a>
                    <h6 class=" text-primary my-2">Data</h6>
                </li>
                <li class="nav-item me-2 text-center">
                    <a class="nav-link" id="contact-tab" data-bs-toggle="pill" data-bs-target="#contact-6" role="tab"
                        type="button" aria-controls="contact" aria-selected="false">
                        <i class="far fa-address-card fa-2x"></i></a>
                        <h6 class=" text-primary my-2">User</h6>
                </li>
                <li class="nav-item me-2 text-center">
                    <a class="nav-link" id="service-tab" data-bs-toggle="pill" data-bs-target="#service-6" role="tab"
                        type="button" aria-controls="contact" aria-selected="false">
                        <i class="fa-solid fa-file-contract fa-2x"></i>
                    </a>
                    <h6 class=" text-primary my-2">Contract</h6>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-6" role="tabpanel" aria-labelledby="home-tab">
                    <p>
                        Lorem ipsum dolor sit consectetur adipiscing elit, do eiusmod temp or incididunt ut
                        et dolore magna qua. Utenim ad minim veniam, quisnos exercitation consequat.
                        Duis aute irure dolor in reprehenderit.
                    </p>
                </div>
                <div class="tab-pane fade" id="profile-6" role="tabpanel" aria-labelledby="profile-tab">
                    <p>
                        Nec tincidunt praesent semper feugiat pulvinar proin gravida.
                        Ultrices dui sapien eget mi. Urna neque viverra justo nec ultrices dui.
                        Consectetur purus et ucibus pulvinar elementum integer enim ipsum
                        vitae aliquet nec.
                    </p>
                </div>
                <div class="tab-pane fade" id="contact-6" role="tabpanel" aria-labelledby="contact-tab">
                    <p>
                        Elit pellentesque habitant morbi tris tique senectus netuset tinid.
                        Unta pulvinar sapien et ligula ullamper. Ultrices sagittis orci a scelerisque purus semper
                        eget.
                        Pulvinar neque laoreet suspendisse interdum consectetur libero.
                    </p>
                </div>
                <div class="tab-pane fade" id="service-6" role="tabpanel" aria-labelledby="contact-tab">
                    <p>
                        Enim ut sem viverra aliquet eget sit amet. Eget eget nunc aictum
                        non consect etur a erat nam at lectus.
                        Bibendum ut tristique et egestas. Id porta nibh venenatis cras sed felis. Libero laor eet
                        sit amet cursus kit amet.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-6">
        <div class="col-md-6 pt-2">
            <h5 class="mb-4">Vertical Tabs</h5>
            <div class="row">
                <div class="col-2">
                    <ul class="nav nav-tabs  justify-content-center nav-icon-only flex-column" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-7"
                                type="button" role="tab" aria-controls="home" aria-selected="true">
                                <i class="far fa-building fa-2x"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-7"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">
                                <i class="far fa-chart-bar fa-2x"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-7"
                                type="button" role="tab" aria-controls="contact" aria-selected="false">
                                <i class="far fa-address-card fa-2x"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="service-tab" data-bs-toggle="tab" data-bs-target="#service-7"
                                type="button" role="tab" aria-controls="contact" aria-selected="false">
                                <i class="far fa-file-code fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-10">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="home-7" role="tabpanel" aria-labelledby="home-tab">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="profile-7" role="tabpanel" aria-labelledby="profile-tab">
                            <p>
                                Nec tincidunt praesent semper feugiat pulvinar proin gravida.
                                Ultrices dui sapien eget mi. Urna neque viverra justo nec ultrices dui.
                                Consectetur purus et ucibus pulvinar elementum integer enim ipsum
                                vitae aliquet nec.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="contact-7" role="tabpanel" aria-labelledby="contact-tab">
                            <p>
                                Elit pellentesque habitant morbi tris tique senectus netuset tinid.
                                Unta pulvinar sapien et ligula ullamper. Ultrices sagittis orci a scelerisque purus
                                semper
                                eget.
                                Pulvinar neque laoreet suspendisse interdum consectetur libero.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="service-7" role="tabpanel" aria-labelledby="contact-tab">
                            <p>
                                Enim ut sem viverra aliquet eget sit amet. Eget eget nunc aictum
                                non consect etur a erat nam at lectus.
                                Bibendum ut tristique et egestas. Id porta veniam venenatis cra se felis. 
                                Libero laor
                                eet
                                sit ametkit consect amet.
                            </p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="col-md-6 pt-2">
            <h5 class="mb-4">Vertical Pills</h5>
            <div class="row">
                <div class="col-2">
                    <ul class="nav nav-pills justify-content-center nav-icon-only" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-bs-toggle="pill" data-bs-target="#home-8"
                                type="button" role="tab" aria-controls="home" aria-selected="true">
                                <i class="far fa-building fa-2x"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-bs-toggle="pill" data-bs-target="#profile-8"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">
                                <i class="far fa-chart-bar fa-2x"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-bs-toggle="pill" data-bs-target="#contact-8"
                                type="button" role="tab" aria-controls="contact" aria-selected="false">
                                <i class="far fa-address-card fa-2x"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="service-tab" data-bs-toggle="pill" data-bs-target="#service-8"
                                type="button" role="tab" aria-controls="contact" aria-selected="false">
                                <i class="far fa-file-code fa-2x"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-10">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home-8" role="tabpanel" aria-labelledby="home-tab">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="profile-8" role="tabpanel" aria-labelledby="profile-tab">
                            <p>
                                Nec tincidunt praesent semper feugiat pulvinar proin gravida.
                                Ultrices dui sapien eget mi. Urna neque viverra justo nec ultrices dui.
                                Consectetur purus et ucibus pulvinar elementum integer enim ipsum
                                vitae aliquet nec.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="contact-8" role="tabpanel" aria-labelledby="contact-tab">
                            <p>
                                Elit pellentesque habitant morbi tris tique senectus netuset tinid.
                                Unta pulvinar sapien et ligula ullamper. Ultrices sagittis orci a scelerisque purus
                                semper
                                eget.
                                Pulvinar neque laoreet suspendisse interdum consectetur libero.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="service-8" role="tabpanel" aria-labelledby="contact-tab">
                            <p>
                                Enim ut sem viverra aliquet eget sit amet. Eget eget nunc aictum
                                non consect etur a erat nam at lectus.
                                Bibendum ut tristique et egestas. Id porta veniam venenatis cra se felis.
                                Libero laor
                                eet
                                sit ametkit consect amet.
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>