<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5">
            <div class="card card-shadow" aria-hidden="true" style="max-width: 22rem;">
                <img src="@@path/assets/img/demo/cards.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title placeholder-glow">
                        <span class="placeholder col-6"></span>
                    </h5>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-7"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-6"></span>
                        <span class="placeholder col-8"></span>
                    </p>
                    <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <h5 class="mb-3">Animation</h5>
            <p class="placeholder-glow">
                <span class="placeholder col-12"></span>
            </p>

            <p class="placeholder-wave">
                <span class="placeholder col-12"></span>
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <h5 class="mb-3">Width</h5>
            <span class="placeholder col-6 mb-4"></span>
            <span class="placeholder w-75 mb-4"></span>
            <span class="placeholder mb-4" style="width: 25%;"></span>

            <h5 class="mb-3">Size</h5>
            <span class="placeholder col-12 placeholder-lg w-75 mb-4"></span>
            <span class="placeholder col-12 w-75 mb-4"></span>
            <span class="placeholder col-12 w-75 placeholder-sm mb-4"></span>
            <span class="placeholder col-12 w-75 placeholder-xs mb-4"></span>
        </div>
        <div class="col-md-6">
            <h5 class="mb-3">Color</h5>
            <span class="placeholder col-1 w-75 mb-4"></span>
            <span class="placeholder col-12 bg-primary w-75 mb-4"></span>
            <span class="placeholder col-12 bg-secondary w-75 mb-4"></span>
            <span class="placeholder col-12 bg-success w-75 mb-4"></span>
            <span class="placeholder col-12 bg-danger w-75 mb-4"></span>
            <span class="placeholder col-12 bg-warning w-75 mb-4"></span>
            <span class="placeholder col-12 bg-info w-75 mb-4"></span>
            <span class="placeholder col-12 bg-light w-75 mb-4"></span>
            <span class="placeholder col-12 bg-dark w-75 mb-4"></span>
        </div>
    </div>

</div>