<div class="container py-5">
    <div class="row mt-5">

        <div class="col-lg-3 col-md-6 position-relative text-center js-popover-container">
            <a href="#!" tabindex="0" role="button" data-bs-toggle="popover" class="btn btn-primary popover-color my-3"
                data-bs-container=".js-popover-container"
                data-color="primary"
                title=""  data-bs-trigger="focus"
                data-bs-content="Popover body content is set in this attribute."
                data-bs-placement="top" data-bs-original-title="Popover title">
                Popover top
            </a>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <a href="#!" tabindex="0" role="button" class="btn btn-primary popover-color my-3" data-bs-container="body"
                data-bs-trigger="focus" data-bs-toggle="popover" data-color="dark" data-bs-placement="right"
                data-bs-content="Right popover">
                Popover right
            </a>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <a href="#!" tabindex="0" role="button" class="btn btn-primary my-3 popover-color" data-color="info"
                data-bs-trigger="focus" data-bs-container="body" data-bs-toggle="popover"
                data-bs-original-title="Popover title" data-bs-placement="bottom"
                data-bs-content="Popover body content is set in this attribute.">
                Popover bottom
            </a>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <a href="#!" tabindex="0" role="button" class="btn btn-primary popover-color my-3" data-bs-container="body"
                data-bs-toggle="popover" data-color="secondary" data-bs-trigger="focus" data-bs-placement="left"
                data-bs-content="Left popover">
                Popover left
            </a>
        </div>
    </div>
</div>