<div class="container">
    <div class="row py-4 d-flex align-items-center">
        <div class="col-md-3 pb-3">
            <span class="h6 text-muted">Primary Blockquote</span>
        </div>
        <div class="col-md-9">
            <blockquote class="blockquote blockquote-primary">
                <p class="blockquote-title">Primary title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                    posuere erat a ante.</p>
            </blockquote>
        </div>
    </div>
    <div class="row py-4 d-flex align-items-center">
        <div class="col-md-3 pb-3">
            <span class="h6 text-muted">Secondary Blockquote</span>
        </div>
        <div class="col-md-9">
            <blockquote class="blockquote blockquote-secondary">
                <p class="blockquote-title">Secondary title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                    posuere erat a ante.</p>
            </blockquote>
        </div>
    </div>
    <div class="row py-4 d-flex align-items-center">
        <div class="col-md-3 pb-3">
            <span class="h6 text-muted">Success Blockquote</span>
        </div>
        <div class="col-md-9">
            <blockquote class="blockquote blockquote-success">
                <p class="blockquote-title">Success title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                    posuere erat a ante.</p>
            </blockquote>
        </div>
    </div>
    <div class="row py-4 d-flex align-items-center">
        <div class="col-md-3 pb-3">
            <span class="h6 text-muted">Info Blockquote</span>
        </div>
        <div class="col-md-9">
            <blockquote class="blockquote blockquote-info">
                <p class="blockquote-title">Info title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                    posuere erat a ante.</p>
            </blockquote>
        </div>
    </div>
    <div class="row py-4 d-flex align-items-center">
        <div class="col-md-3 pb-3">
            <span class="h6 text-muted">Warning Blockquote</span>
        </div>
        <div class="col-md-9">
            <blockquote class="blockquote blockquote-warning">
                <p class="blockquote-title">Warning title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                    posuere erat a ante.</p>
            </blockquote>
        </div>
    </div>
    <div class="row py-4 d-flex align-items-center">
        <div class="col-md-3 pb-3">
            <span class="h6 text-muted">Danger Blockquote</span>
        </div>
        <div class="col-md-9">
            <blockquote class="blockquote blockquote-danger">
                <p class="blockquote-title">Danger title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                    posuere erat a ante.</p>
            </blockquote>
        </div>
    </div>
</div>