<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card shadow-dark">
                <div class="card-body py-5 text-center">
                    <h2>default shadow</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card shadow-lg-dark">
                <div class="card-body py-5 text-center">
                    <h2>large shadow</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card shadow-xl-dark">
                <div class="card-body py-5 text-center">
                    <h2>extra large shadow</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5"></div>
        <div class="col-lg-4 col-md-6 mt-5"></div>
        <div class="col-lg-4 col-md-6 mt-5"></div>
        <div class="col-lg-4 col-md-6 mt-5"></div>
        <div class="col-lg-4 col-md-6 mt-5"></div>
        <div class="col-lg-4 col-md-6 mt-5"></div>
    </div>
</div>