<div class="container my-5">
    <div class="row mt-5">
        <div class="col-12">
            <h5 class="mb-3">Default</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Team</th>
                        <th scope="col">Social</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>John</td>
                        <td>Tech</td>
                        <td>@tech</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Emily</td>
                        <td>Product</td>
                        <td>@product</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Tom</td>
                        <td>@company</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h5 class="mb-3">Striped</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Team</th>
                        <th scope="col">Social</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>John</td>
                        <td>Tech</td>
                        <td>@tech</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Emily</td>
                        <td>Product</td>
                        <td>@product</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Tom</td>
                        <td>@company</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
      <div class="row mt-5">
          <div class="col-12">
              <h5 class="mb-3">Accented</h5>
              <table class="table table-striped table-dark">
                  <thead>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Team</th>
                          <th scope="col">Social</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th scope="row">1</th>
                          <td>John</td>
                          <td>Tech</td>
                          <td>@tech</td>
                      </tr>
                      <tr>
                          <th scope="row">2</th>
                          <td>Emily</td>
                          <td>Product</td>
                          <td>@product</td>
                      </tr>
                      <tr>
                          <th scope="row">3</th>
                          <td colspan="2">Tom</td>
                          <td>@company</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
        <div class="row mt-5">
            <div class="col-12">
                <h5 class="mb-2">Variants</h5>
                <h6 class="text-muted mb-3">Use contextual classes to color tables, table rows or individual cells.</h6>
                <table class="table table-secondary">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Team</th>
                            <th scope="col">Social</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>John</td>
                            <td>Tech</td>
                            <td>@tech</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Emily</td>
                            <td>Product</td>
                            <td>@product</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Tom</td>
                            <td>@company</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>