<div class="container">
    <div class="row mt-5">

        <div class="col-lg-3 col-md-6 position-relative text-center" id="tooltip-container">
            <button type="button" class="btn btn-dark my-3" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-original-title="Message" data-bs-container="#tooltip-container">Tooltip on
                top
            </button>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <button type="button" class="btn btn-dark my-3" data-bs-toggle="tooltip" data-bs-placement="right"
                title="Message">
                Tooltip on right
            </button>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <button type="button" class="btn btn-dark my-3" data-bs-toggle="tooltip" data-bs-placement="bottom"
                title="Message">
                Tooltip on bottom
            </button>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <button type="button" class="btn btn-dark my-3" data-bs-toggle="tooltip" data-bs-placement="left"
                title="Message">
                Tooltip on left
            </button>
        </div>


    </div>
</div>