<div class="container">

    <div class="row mt-5">
        <div class="col">
            <div class="h5">Headings</div>
        </div>
    </div>
    <div class="row py-3 d-flex align-items-center">
        <div class="col-md-3 h6 text-muted">Heading 1</div>
        <div class="col-md-9">
            <h1>Bootstrap heading</h1>
        </div>
    </div>
    <div class="row py-3 d-flex align-items-center">
        <div class="col-md-3 h6 text-muted ">Heading 2</div>
        <div class="col-md-9 ">
            <h2>Bootstrap heading</h2>
        </div>
    </div>
    <div class="row py-3 d-flex align-items-center">
        <div class="col-md-3 h6 text-muted ">Heading 3</div>
        <div class="col-md-9 ">
            <h3>Bootstrap heading</h3>
        </div>
    </div>
    <div class="row py-3 d-flex align-items-center">
        <div class="col-md-3 h6 text-muted ">Heading 4</div>
        <div class="col-md-9 ">
            <h4>Bootstrap heading</h4>
        </div>
    </div>
    <div class="row py-3 d-flex align-items-center">
        <div class="col-md-3 h6 text-muted ">Heading 5</div>
        <div class="col-md-9 ">
            <h5>Bootstrap heading</h5>
        </div>
    </div>
    <div class="row py-3 d-flex align-items-center">
        <div class="col-md-3 h6 text-muted ">Heading 6</div>
        <div class="col-md-9 ">
            <h6 class="mb-0">Bootstrap heading</h6>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col">
            <div class="h5">Display</div>
        </div>
    </div>
    <div class="row py-3 d-flex align-items-center">
        <div class="col-md-2 h6 text-muted mt-">Display 1</div>
        <div class="col-md-10 mt-">
            <h1 class="display-1">Display heading</h1>
        </div>
    </div>
    <div class="row py-3 d-flex align-items-center">
        <div class="col-md-2 h6 text-muted ">Display 2</div>
        <div class="col-md-10 ">
            <h1 class="display-2">Display heading</h1>
        </div>
    </div>
    <div class="row py-3 d-flex align-items-center">
        <div class="col-md-2 h6 text-muted ">Display 3</div>
        <div class="col-md-10 ">
            <h1 class="display-3">Display heading</h1>
        </div>
    </div>
    <div class="row py-3 d-flex align-items-center">
        <div class="col-md-2 h6 text-muted ">Display 4</div>
        <div class="col-md-10 ">
            <h1 class="display-4">Display heading</h1>
        </div>
    </div>
     <div class="row py-3 d-flex align-items-center">
         <div class="col-md-2 h6 text-muted ">Display 5</div>
         <div class="col-md-10 ">
             <h1 class="display-5">Display heading</h1>
         </div>
     </div>
      <div class="row py-3 d-flex align-items-center">
          <div class="col-md-2 h6 text-muted ">Display 6</div>
          <div class="col-md-10 ">
              <h1 class="display-6">Display heading</h1>
          </div>
      </div>


</div>



<div class="container mt-5">
    <div class="row mt-5">
        <div class="col">
            <div class="h5">Paragraphs</div>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-sm-2">
            <span class="h6 text-muted">Primary Text</span>
        </div>
        <div class="col-sm-10">
            <p class="text-primary">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            </p>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-sm-2">
            <span class="h6 text-muted">Secondary Text</span>
        </div>
        <div class="col-sm-10">
            <p class="text-secondary">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            </p>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-sm-2">
            <span class="h6 text-muted">Success Text</span>
        </div>
        <div class="col-sm-10">
            <p class="text-success">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            </p>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-sm-2">
            <span class="h6 text-muted">Info Text</span>
        </div>
        <div class="col-sm-10">
            <p class="text-info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            </p>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-sm-2">
            <span class="h6 text-muted">Warning Text</span>
        </div>
        <div class="col-sm-10">
            <p class="text-warning">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            </p>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-sm-2">
            <span class="h6 text-muted">Danger Text</span>
        </div>
        <div class="col-sm-10">
            <p class="text-danger">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            </p>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-sm-2">
            <span class="h6 text-muted">Muted Text</span>
        </div>
        <div class="col-sm-10">
            <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            </p>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-sm-2">
            <span class="h6 text-muted">Paragraph</span>
        </div>
        <div class="col-sm-10">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Faucibus purus in massa tempor nec feugiat nisl. Et netus et
                malesuada fames ac turpis egestas.</p>
        </div>
    </div>
    <div class="row py-4 d-flex align-items-center">
        <div class="col-sm-2"><span class="h6 text-muted">Lead</span></div>
        <div class="col-sm-10">

            <p class="lead">
                Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non
                commodo
                luctus.
            </p>

        </div>
    </div>
    <div class="row py-4 d-flex align-items-center">
        <div class="col-sm-2">
            <span class="h6 text-capitalize text-muted">Header with small tag</span>
        </div>
        <div class="col-sm-10">
            <h3>
                Fancy display heading
                <small class="text-muted">With faded secondary text</small>
            </h3>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="h5">Blockquotes</div>
        </div>
    </div>
    
    <div class="row py-4 d-flex align-items-center">
        <div class="col-md-3 pb-3">
            <span class="h6 text-capitalize text-muted">Blockquotes source</span>
        </div>
        <div class="col-md-9">
            <blockquote class="blockquote">
                <p class="mb-">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                    posuere
                    erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                        Title
                    </cite></footer>
            </blockquote>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-md-3 pb-3">
<span class="h6 text-capitalize text-muted">Text truncation</span>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-2 text-truncate">
                    Praeterea iter est quasdam res quas ex communi.
                </div>
            </div>

            <span class="d-inline-block text-truncate" style="max-width: 150px;">
                Praeterea iter est quasdam res quas ex communi.
            </span>
        </div>
    </div>
</div>