<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <div class="h4">Hover</div>
        </div>
    </div>
    <div class="row">
         <div class="col-lg-3 col-md-6 mt-5">
             <button class="btn btn-primary hover-translate-up-3">Get Started</button>
         </div>
         <div class="col-lg-3 col-md-6 mt-5">
             <button class="btn btn-primary hover-translate-right-3">Login</button>
         </div>
         <div class="col-lg-3 col-md-6 mt-5">
             <button class="btn btn-primary hover-translate-down-3">Sign up</button>
         </div>
        <div class="col-lg-3 col-md-6 mt-5">
            <button class="btn btn-primary hover-translate-left-3">Contact us</button>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
            <div class="card card-shadow hover-translate-up-4 pt-4 mx-auto" style="max-width: 16rem;">
                <div class="card-header border-0 mb-1">
                    <i class="fas fa-chart-line fa-3x text-primary"></i>
                </div>
                <div class="card-body">
                    <h3 class="text-dark mb-3">Data Insights</h3>
                    <p>
                        Lorem ipsum dolor anim officia ut veniam
                    </p>
                    <a href="#!" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
            <div class="card card-shadow hover-translate-right-4 pt-4 mx-auto" style="max-width: 16rem;">
                <div class="card-header border-0 mb-1">
                    <i class="fas fa-chart-line fa-3x text-primary"></i>
                </div>
                <div class="card-body">
                    <h3 class="text-dark mb-3">Data Insights</h3>
                    <p>
                        Lorem ipsum dolor anim officia ut veniam
                    </p>
                    <a href="#!" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
            <div class="card card-shadow hover-translate-down-4 pt-4 mx-auto" style="max-width: 16rem;">
                <div class="card-header border-0 mb-1">
                    <i class="fas fa-chart-line fa-3x text-primary"></i>
                </div>
                <div class="card-body">
                    <h3 class="text-dark mb-3">Data Insights</h3>
                    <p>
                        Lorem ipsum dolor anim officia ut veniam
                    </p>
                    <a href="#!" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
            <div class="card card-shadow hover-translate-left-4 pt-4 mx-auto" style="max-width: 16rem;">
                <div class="card-header border-0 mb-1">
                    <i class="fas fa-chart-line fa-3x text-primary"></i>
                </div>
                <div class="card-body">
                    <h3 class="text-dark mb-3">Data Insights</h3>
                    <p>
                        Lorem ipsum dolor anim officia ut veniam
                    </p>
                    <a href="#!" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-8">
        <div class="col">
            <div class="h4">Opacity</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 mt-5">
            <div class="col-12 bg-primary py-5 rounded-lg text-center text-white opacity-100">
                .opacity-100
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
            <div class="col-12 bg-primary py-5 rounded-lg text-center text-white opacity-75">
                .opacity-75
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
            <div class="col-12 bg-primary py-5 rounded-lg text-center text-white opacity-50">
                .opacity-50
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
            <div class="col-12 bg-primary py-5 rounded-lg text-center text-white opacity-25">
                .opacity-25
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-8">
        <div class="col">
            <div class="h4">Gradients</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="py-5 rounded-xl mb-2 bg-gradient-primary text-white text-center">.bg-gradient-primary</div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="py-5 rounded-xl mb-2 bg-gradient-success text-white text-center">.bg-gradient-success</div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="py-5 rounded-xl mb-2 bg-gradient-danger text-white text-center">.bg-gradient-danger</div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="py-5 rounded-xl mb-2 bg-gradient-warning text-dark text-center">.bg-gradient-warning</div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="py-5 rounded-xl mb-2 bg-gradient-info text-white text-center">.bg-gradient-info</div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="py-5 rounded-xl mb-2 bg-gradient-dark text-white text-center">.bg-gradient-dark</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-8">
        <div class="col-12">
            <div class="h4">Shadows</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-6">
            <div class="py-5 rounded-xl mb-2 text-center shadow-lg-primary">.shadow-lg-primary</div>
        </div>
        <div class="col-md-4 mt-6">
            <div class="py-5 rounded-xl mb-2 text-center shadow-lg-secondary">.shadow-lg-secondary</div>
        </div>
        <div class="col-md-4 mt-6">
            <div class="py-5 rounded-xl mb-2 text-center shadow-lg-success">.shadow-lg-success</div>
        </div>
        <div class="col-md-4 mt-6">
            <div class="py-5 rounded-xl mb-2 text-center shadow-lg-info">.shadow-lg-info</div>
        </div>
        <div class="col-md-4 mt-6">
            <div class="py-5 rounded-xl mb-2 text-center shadow-lg-warning">.shadow-lg-warning</div>
        </div>
        <div class="col-md-4 mt-6">
            <div class="py-5 rounded-xl mb-2 text-center shadow-lg-dark">.shadow-lg-dark</div>
        </div>
        <div class="col-md-4 mt-6">
            <div class="py-5 rounded-xl mb-2 text-center shadow-xl-primary">.shadow-xl-primary</div>
        </div>
        <div class="col-md-4 mt-6">
            <div class="py-5 rounded-xl mb-2 text-center shadow-xl-secondary">.shadow-xl-secondary</div>
        </div>
        <div class="col-md-4 mt-6">
            <div class="py-5 rounded-xl mb-2 text-center shadow-xl-success">.shadow-xl-success</div>
        </div>
        <div class="col-md-4 mt-6">
            <div class="py-5 rounded-xl mb-2 text-center shadow-xl-info">.shadow-xl-info</div>
        </div>
        <div class="col-md-4 mt-6">
            <div class="py-5 rounded-xl mb-2 text-center shadow-xl-warning">.shadow-xl-warning</div>
        </div>
        <div class="col-md-4 mt-6">
            <div class="py-5 rounded-xl mb-2 text-center shadow-xl-dark">.shadow-xl-dark</div>
        </div>
    </div>
</div>