<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-shadow bg-gradient-primary">
                    <div class="card-body py-5 py-lg-8 px-5">
                        <h6 class="text-light fw-bold text-uppercase text-center">Our Clients</h6>
                        <h2 class="text-light py-4 text-center">
                            Trusted by 6,000+ paying customers
                        </h2>
                        <div class="text-center">
                            <button class="btn btn-secondary mt-2">Learn More</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-6 mt-5">
                        <img src="@@path/assets/img/clients/client-1.svg" class="avatar">
                    </div>
                    <div class="col-6 mt-5">
                        <img src="@@path/assets/img/clients/client-2.svg" class="avatar">
                    </div>
                    <div class="col-6 mt-5">
                        <img src="@@path/assets/img/clients/client-3.svg" class="avatar">
                    </div>
                    <div class="col-6 mt-5">
                        <img src="@@path/assets/img/clients/client-4.svg" class="avatar">
                    </div>
                    <div class="col-6 mt-5">
                        <img src="@@path/assets/img/clients/client-5.svg" class="avatar">
                    </div>
                    <div class="col-6 mt-5">
                        <img src="@@path/assets/img/clients/client-6.svg" class="avatar">
                    </div>
                    <div class="col-6 mt-5">
                        <img src="@@path/assets/img/clients/client-2.svg" class="avatar">
                    </div>
                    <div class="col-6 mt-5">
                        <img src="@@path/assets/img/clients/client-1.svg" class="avatar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="content">
    <div class="container-xl">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="text-dark">Trusted by some of the world's best teams</h4>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-6 col-lg-3 mt-5">
                <img src="@@path/assets/img/clients/client-1.svg" class="avatar">
            </div>
            <div class="col-6 col-lg-3 mt-5">
                <img src="@@path/assets/img/clients/client-2.svg" class="avatar">
            </div>
            <div class="col-6 col-lg-3 mt-5">
                <img src="@@path/assets/img/clients/client-3.svg" class="avatar">
            </div>
            <div class="col-6 col-lg-3 mt-5">
                <img src="@@path/assets/img/clients/client-4.svg" class="avatar">
            </div>
            <div class="col-6 col-lg-3 mt-5">
                <img src="@@path/assets/img/clients/client-5.svg" class="avatar">
            </div>
            <div class="col-6 col-lg-3 mt-5">
                <img src="@@path/assets/img/clients/client-6.svg" class="avatar">
            </div>
            <div class="col-6 col-lg-3 mt-5">
                <img src="@@path/assets/img/clients/client-1.svg" class="avatar">
            </div>
            <div class="col-6 col-lg-3 mt-5">
                <img src="@@path/assets/img/clients/client-2.svg" class="avatar">
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12 text-center">
                <a href="#!" class="link-primary fs-5 text-capitalize">
                    Meet our customers
                    <i class="fas fa-long-arrow-alt-right px-2 translate-icon"></i></a>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container-fluid">
    <div class="row mt-7">
        <div class="col-12 text-center">
            <h4>Trusted by 150,000 customers worldwide</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="content bg-light my-7">
                <div class="container">
                    <div class="row d-flex justify-content-between gx-0">
                        <div class="col-md-6 col-xl-3 py-3 text-center"><img
                                src="@@path/assets/img/clients/client-1.svg" class="avatar avatar-lg"></div>
                        <div class="col-md-6 col-xl-3 py-3 text-center"><img
                                src="@@path/assets/img/clients/client-2.svg" class="avatar avatar-lg"></div>
                        <div class="col-md-6 col-xl-3 py-3 text-center"><img
                                src="@@path/assets/img/clients/client-3.svg" class="avatar avatar-lg"></div>
                        <div class="col-md-6 col-xl-3 py-3 text-center"><img
                                src="@@path/assets/img/clients/client-4.svg" class="avatar avatar-lg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="content">
    <div class="container-xl">
        <div class="row my-5">
            <div class="col-12 text-center">
                <h4>Trusted by 100,000 websites in 150+ countries</h4>
            </div>
        </div>
        <div class="row row-cols-lg-3 pb-5">
            <div class="col mt-5">
                <div class="card shadow-lg-dark mx-auto" style="width: 12rem; height: 9rem;">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <img src="@@path/assets/img/clients/client-1.svg" class="mw-100"></div>
                    <a href="#!" class="stretched-link"></a>
                </div>
            </div>
            <div class="col mt-5">
                <div class="card shadow-lg-dark mx-auto" style="width: 12rem; height: 9rem;">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <img src="@@path/assets/img/clients/client-2.svg" class="mw-100"></div>
                    <a href="#!" class="stretched-link"></a>
                </div>
            </div>
            <div class="col mt-5">
                <div class="card shadow-lg-dark mx-auto" style="width: 12rem; height: 9rem;">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <img src="@@path/assets/img/clients/client-3.svg" class="mw-100"></div>
                    <a href="#!" class="stretched-link"></a>
                </div>
            </div>
            <div class="col mt-5">
                <div class="card shadow-lg-dark mx-auto" style="width: 12rem; height: 9rem;">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <img src="@@path/assets/img/clients/client-4.svg" class="mw-100"></div>
                    <a href="#!" class="stretched-link"></a>
                </div>
            </div>
            <div class="col mt-5">
                <div class="card shadow-lg-dark mx-auto" style="width: 12rem; height: 9rem;">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <img src="@@path/assets/img/clients/client-5.svg" class="mw-100"></div>
                    <a href="#!" class="stretched-link"></a>
                </div>
            </div>
            <div class="col mt-5">
                <div class="card shadow-lg-dark mx-auto" style="width: 12rem; height: 9rem;">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <img src="@@path/assets/img/clients/client-6.svg" class="mw-100"></div>
                    <a href="#!" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-12 text-center">
                <button class="btn btn-primary">Get Started 
                    <i class="fas fa-long-arrow-alt-right px-2 translate-icon"></i>
                </button>
            </div>
        </div>
    </div>
</div>