<div class="content my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card card-shadow bg-gradient-primary text-center rounded-lg">
                    <div class="card-body pt-5 pb-5 py-md-7 px-5">
                        <h1 class="text-white text-capitalize mb-5">Begin your free trial now</h1>
                        <a class="btn btn-light btn-lg rounded-pill" href="#!">Get
                            started <i class="fas fa-long-arrow-alt-right ps-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content my-5">
    <div class="container-xl">
        <div class="row">
            <div class="col-12">
                <div class="card bg-transparent border-5 border-dark">
                    <div class="card-body py-5">
                        <div class="row">
                            <div class="col-lg-6 text-center text-lg-start">
                                <h1 class="text-dark">Need a custom plan?</h1>
                                <p class="pb-4 pb-lg-0">Lorem ipsum dolor sit amet</p>
                            </div>
                            <div
                                class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-end">
                                <button class="btn btn-lg btn-primary me-lg-5">Request Quote</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content my-5">
    <div class="container-xl">
        <div class="row">
            <div class="col-12">
                <div class="card bg-dark card-shadow">
                    <div class="card-body py-5">
                        <div class="row">
                            <div class="col-lg-6 text-center text-lg-start ps-lg-3">
                                <h1 class="text-light">Getting started is easy</h1>
                                <p class="pb-4 pb-lg-0 text-white opacity-75">Lorem ipsum dolor sit amet</p>
                            </div>
                            <div
                                class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-end">
                                <button class="btn btn-danger me-lg-5">Start Free Trial</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card card-flat mx-auto" style="max-width: 800px;">
                    <div class="card-body text-center">
                        <h6 class="text-dark text-uppercase fw-bold">Follow Us</h6>
                        <h1 class="text-primary my-4">Follow us for great content</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmod
                            tempor
                            incididunt ut
                            labore et dolore magna aliqua
                        </p>
                        <div class="row mt-5 footer-social-btn-group g-0 text-primary">
                            <div class="col-md-6 d-flex justify-content-center justify-content-md-end">
                                <ul class="list-unstyled list-inline px-1">
                                    <li class="list-inline-item">
                                        <a href="#!" class="text-reset">
                                            <i class="fab fa-twitter fa-2x"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#!" class="text-reset">

                                            <i class="fab fa-facebook fa-2x"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#!" class="text-reset">

                                            <i class="fab fa-instagram fa-2x"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
                                <ul class="list-unstyled list-inline px-1">
                                    <li class="list-inline-item">
                                        <a href="#!" class="text-reset">

                                            <i class="fab fa-youtube fa-2x"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#!" class="text-reset">

                                            <i class="fab fa-linkedin fa-2x"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#!" class="text-reset">

                                            <i class="fab fa-github fa-2x"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content my-5">
    <div class="container-xl">
        <div class="row">
            <div class="col-12">
                <div class="card bg-transparent border-5 border-dark">
                    <div class="card-body py-5">
                        <div class="row">
                            <div class="col-12 text-center text-lg-start">
                                <h1 class="text-dark">Need a custom plan?</h1>
                                <p class="pb-4 pb-lg-0">Lorem ipsum dolor sit amet</p>
                            </div>
                            <div class="col-12 d-flex align-items-center justify-content-center justify-content-lg-start mt-3">
                                <button class="btn btn-primary btn-sm me-2">Talk to us</button>
                                <button class="btn btn-secondary btn-sm"><span class="text-primary">Learn
                                        More</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content my-5">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4 col-xl-2 py-3">
                <div class="card card-shadow rounded-lg">
                    <div class="card-body text-center px-0">
                        <div class="py-3">
                            <i class="fab fa-facebook-f fa-2x link-facebook pt-1"></i>
                            <div class="text-dark pt-2 opacity-75">140 k</div>
                            <div class="text-muted pt-1 text-capitalize">Followers</div>
                        </div>
                        <a href="#!" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-xl-2 py-3">
                <div class="card card-shadow rounded-lg">
                    <div class="card-body text-center px-0">
                        <div class="py-3">
                            <i class="fab fa-twitter fa-2x link-twitter pt-1"></i>
                            <div class="text-dark pt-2 opacity-75">160 k</div>
                            <div class="text-muted pt-1 text-capitalize">Followers</div>
                        </div>
                        <a href="#!" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-xl-2 py-3">
                <div class="card card-shadow rounded-lg">
                    <div class="card-body text-center px-0">
                        <div class="py-3">
                            <i class="fas fa-envelope fa-2x pt-1"></i>
                            <div class="text-dark pt-2 opacity-75">150 k</div>
                            <div class="text-muted pt-1 text-capitalize">Subscribers</div>
                        </div>
                        <a href="#!" class="stretched-link"></a>
                    </div>

                </div>
            </div>
            <div class="col-6 col-sm-4 col-xl-2 py-3">
                <div class="card card-shadow rounded-lg">
                    <div class="card-body text-center px-0">
                        <div class="py-3">
                            <i class="fab fa-youtube fa-2x link-youtube pt-1"></i>
                            <div class="text-dark pt-2 opacity-75">120 k</div>
                            <div class="text-muted pt-1 text-capitalize">Subscribers</div>
                        </div>
                        <a href="#!" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-xl-2 py-3">
                <div class="card card-shadow rounded-lg">
                    <div class="card-body text-center px-0">
                        <div class="py-3">
                            <i class="fab fa-dribbble fa-2x link-dribbble pt-1"></i>
                            <div class="text-dark pt-2 opacity-75">110 k</div>
                            <div class="text-muted pt-1 text-capitalize">Followers</div>
                        </div>
                        <a href="#!" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-xl-2 py-3">
                <div class="card card-shadow rounded-lg">
                    <div class="card-body text-center px-0">
                        <div class="py-3">
                            <i class="fab fa-github fa-2x link-github pt-1"></i>
                            <div class="text-dark pt-2 opacity-75">180 k</div>
                            <div class="text-muted pt-1 text-capitalize">Members</div>
                        </div>
                        <a href="#!" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="card card-shadow">
                    <div class="card-body">
                        <form action="#">
                            <div class="text-center my-3">
                                <h3 class="text-capitalize text-primary mb-4">subscribe to our newsletter</h3>
                                <h6 class="text-muted mb-4">Join over 6000 members and get
                                    exclusive tips straight to your inbox every week.</h6>
                                <input type="email" class="form-control form-control-soft rounded-pill mb-4"
                                    placeholder="Your Email" required>
                                <button class="btn btn-primary rounded-pill mt-1">Join now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content my-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card card-shadow bg-dark rounded-0">
                    <div class="card-body">
                        <div class="text-center py-5">
                            <h4 class="text-light text-uppercase">Lorem ipsum dolor amet</h4>
                            <div class="px-2 px-md-5 px-lg-8 pt-5 pb-5">
                                <h1 class="text-light display-4 text-capitalize">What can we do for your business?</h1>
                            </div>

                            <a class="btn btn-light btn-lg rounded-0 px-5" href="#!">Contact
                                us<i class="fas fa-long-arrow-alt-right ps-3"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>