<div class="content">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h5 class="text-uppercase text-primary py-2 fw-bold">Product Features</h5>
                <h1>
                    Articulate three unique facets of the product
                </h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 my-2">
                <div class="card card-flat">
                    <div class="card-header text-center border-0">
                        <h1 class="display-3 fw-bold text-primary">01</h1>
                    </div>
                    <div class="card-body text-center">
                        <h2 class="text-dark">Data Integrations</h2>
                        <p class="py-3">Lorem ipsum dolor sit amet elit sed do eiusmod incididunt</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card card-flat">
                    <div class="card-header text-center border-0">
                        <h1 class="display-3 fw-bold text-primary">02</h1>
                    </div>
                    <div class="card-body text-center">
                        <h2 class="text-dark">Team Dashboards</h2>
                        <p class="py-3">Lorem ipsum dolor sit amet elit sed do eiusmod incididunt</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2">
                <div class="card card-flat">
                    <div class="card-header text-center border-0">
                        <h1 class="display-3 fw-bold text-primary">03</h1>
                    </div>
                    <div class="card-body text-center">
                        <h2 class="text-dark">Retention Reports</h2>
                        <p class="py-3">Lorem ipsum dolor sit amet elit sed do eiusmod incididunt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-xl">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Learn about product features</h2>
            </div>
        </div>
        <div class="row mt-5">

            <div class="col-lg-4 my-2 d-flex align-items-stretch">
                <div class="card card-shadow hover-translate-up-4 pt-4 mx-auto">
                    <div class="card-header border-0 mb-1">
                        <i class="fas fa-chart-line fa-3x text-primary"></i>
                    </div>
                    <div class="card-body">
                        <h1 class="text-dark mb-3">Insights Reports</h1>
                        <p>
                            Lorem ipsum dolor amet ut officia, consect adipiscing elit miniam at veniam
                        </p>
                        <a href="#!" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2 d-flex align-items-stretch">
                <div class="card card-shadow hover-translate-up-4 pt-4 mx-auto">
                    <div class="card-header border-0 mb-1">
                        <i class="fas fa-table fa-3x text-primary"></i>
                    </div>
                    <div class="card-body">
                        <h1 class="text-dark mb-3">Retention Reports</h1>
                        <p>
                            Lorem ipsum dolor amet ut officia, consect adipiscing elit miniam at veniam
                        </p>
                        <a href="#!" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-2 d-flex align-items-stretch">
                <div class="card card-shadow hover-translate-up-4 pt-4 mx-auto">
                    <div class="card-header border-0 mb-1">
                        <i class="fas fa-network-wired fa-3x text-primary"></i>
                    </div>
                    <div class="card-body">
                        <h1 class="text-dark mb-3">User Dashboards</h1>
                        <p>
                            Lorem ipsum dolor amet ut officia, consect adipiscing elit miniam at veniam
                        </p>
                        <a href="#!" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content content-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 my-2 d-flex justify-content-center">
                <div class="card card-shadow hover-translate-up-4" style="width: 14rem;">
                    <div class="card-body text-center py-4">
                        <i class="fas fa-hourglass-start fa-3x text-primary"></i>
                        <h3 class="mt-4 text-dark">Business Process</h3><a href="#!" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 my-2 d-flex justify-content-center">
                <div class="card card-shadow hover-translate-up-4" style="width: 14rem;">
                    <div class="card-body text-center py-4">
                        <i class="fas fa-headphones fa-3x text-primary"></i>
                        <h3 class="mt-4 text-dark">Customer Support</h3><a href="#!" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 my-2 d-flex justify-content-center">
                <div class="card card-shadow hover-translate-up-4" style="width: 14rem;">
                    <div class="card-body text-center py-4">
                        <i class="fas fa-object-group fa-3x text-primary"></i>
                        <h3 class="mt-4 text-dark">Integration Guide</h3><a href="#!" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 my-2 d-flex justify-content-center">
                <div class="card card-shadow hover-translate-up-4" style="width: 14rem;">
                    <div class="card-body text-center py-4">
                        <i class="fa-solid fa-water fa-3x text-primary"></i>
                        <h3 class="mt-4 text-dark">Simple Workflow</h3><a href="#!" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mt-5">
                <h1 class="text-primary">Analyze Customer Data</h1>
                <p class="my-4">
                    Lorem ipsum dolor sit amet, consec tetur adipis ing elit atut, do veniam eiusmod incid
                    idunt ut et dolore vanaka aliqa. Ut enim ad minim veniam, quisrud exerc
                    itation ut nisi ut aliquip ex ea commodo consequat.
                </p>
                <a href="#!" class="link-primary fs-5">Learn More<i
                        class="fas fa-long-arrow-alt-right translate-icon px-2"></i></a>
            </div>
            <div class="col-lg-6 mt-5 d-flex justify-content-center">
                <img src="@@path/assets/img/demo/work.svg" alt="work" class="w-75" />
            </div>
        </div>
    </div>
</div>

<div class="content my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="text-uppercase text-dark fw-bold">our process</h6>
                <h1 class="text-primary my-3">Simple, yet robust and effective process</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="card card-flat py-3">
                    <div class="card-body">
                        <div class="card-title"><i class="fas fa-dharmachakra fa-2x text-primary"></i></div>
                        <div class="card-title py-3">
                            <h4 class="text-dark text-capitalize">Project Scoping</h4>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet elit veniam, adip iscing, do tempor incidiun
                            ut eius modetas dolor magna aliquaton. Enim utadin veniam, nosquis exerc itation.</p><a
                            href="#!" class="link-primary fs-5">Learn More<i
                                class="fas fa-long-arrow-alt-right translate-icon px-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-flat py-3">
                    <div class="card-body">
                        <div class="card-title"><i class="fas fa-road fa-2x text-primary"></i></div>
                        <div class="card-title py-3">
                            <h4 class="text-dark text-capitalize">Roadmap Planning</h4>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet elit veniam, adip iscing, do tempor incidiun
                            ut eius modetas dolor magna aliquaton. Enim utadin veniam, nosquis exerc itation.</p><a
                            href="#!" class="link-primary fs-5">Learn More<i
                                class="fas fa-long-arrow-alt-right translate-icon px-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-flat py-3">
                    <div class="card-body">
                        <div class="card-title"><i class="fas fa-crop-alt fa-2x text-primary"></i></div>
                        <div class="card-title py-3">
                            <h4 class="text-dark text-capitalize">Growth &amp; Scale</h4>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet elit veniam, adip iscing, do tempor incidiun
                            ut eius modetas dolor magna aliquaton. Enim utadin veniam, nosquis exerc itation.</p><a
                            href="#!" class="link-primary fs-5">Learn More<i
                                class="fas fa-long-arrow-alt-right translate-icon px-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content my-5">
    <div class="container-xl text-center text-md-start">
        <div class="row">
            <div class="col-lg-4 my-2">
                <h6 class="text-uppercase text-dark fw-bold">Details</h6>
                <h1 class="text-primary mb-3">Our Numbers</h1>
                <p>Lorem ipsum dolor nim amet consect ven ut officia adip
                    elitcing</p>
            </div>
            <div class="col-lg-8 my-2">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h1 class="display-5 fw-bold text-primary">99%</h1>
                        <h5>Growth retention</h5>

                    </div>
                    <div class="col-md-6 mb-5">
                        <h1 class="display-5 fw-bold text-primary">80%</h1>
                        <h5>Average increase in conversion</h5>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h1 class="display-5 fw-bold text-primary">60%</h1>
                        <h5>Average increase in sales</h5>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h1 class="display-5 fw-bold text-primary">3k</h1>
                        <h5>Impressive new clients</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card card-shadow my-5 mx-auto rounded-0" style="max-width: 850px;">
                    <div class="row g-0">
                        <div class="col-lg-6 bg-primary d-flex py-8 py-lg-0
                                justify-content-center">
                            <img src="@@path/assets/img/clients/client-7.svg" class="" alt="client"
                                style="width: 300px;">
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body px-4 ms-lg-4">
                                <h2 class="card-title my-4 text-primary">How we improve user retention</h2>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor ut labore et dolore magna aliqua. Utenim ad minim veniam.</p>
                                <button class="btn btn-primary mt-3 mb-4 rounded-0">Read More</button>
                                <p class="card-text"><small class="text-muted">Last updated 3 months ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-lg">
        <div class="row">
            <div class="col">
                <h1 class="text-capitalize">Our Numbers</h1>
                <hr>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-6">
                <div class="py-4">
                    <h1 class="display-4">15 Years</h1>
                    <p class="lead">Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-2 p-md-3">
                    <h2 class="mb-4 text-capitalize">Building strong team</h2>
                    <p class="lead">Lorem ipsum dolor amet emimtus consect uton tam adip iscing elit, eiusmod tempor
                        inc id utam loret dolore magna aliqua. Enim minima veniam ad, quis exercitation
                        ullam laboris nisi ut et commodo consequat.</p><a href="#!" class="link-primary h4">Read
                        more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mt-4">
                <h6 class="text-uppercase text-dark fw-bold">About us</h6>
                <h1 class="text-primary my-4">A great company has a great team</h1><a href="#!"
                    class="link-primary fs-5">Learn More<i
                        class="fas fa-long-arrow-alt-right translate-icon px-2"></i></a>
            </div>
            <div class="col-lg-6 mt-4">
                <div class="card card-shadow mb-3 pt-2">
                    <div class="card-header border-0"><i class="fas fa-phone-square fa-2x text-primary"></i>
                        <h2 class="text-primary mt-2">Customer Support</h2>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua</p>
                    </div>
                </div>
                <div class="card card-shadow mb-3 pt-2">
                    <div class="card-header border-0"><i class="fas fa-user-friends fa-2x text-primary"></i>
                        <h2 class="text-primary mt-2">Awesome Team</h2>
                    </div>
                    <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="text-uppercase text-dark fw-bold">about us</h6>
                <h1 class="text-primary my-3">Its about success of your Business</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="text-center py-5">
                    <i class="fas fa-pencil-alt fa-3x text-primary"></i>
                    <h4 class="pt-3 text-primary">First 15 days are free</h4>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>

            </div>
            <div class="col-md-6 ">
                <div class="text-center py-5">
                    <i class="fas fa-toggle-off fa-3x text-primary"></i>
                    <h4 class="pt-3 text-primary">Cancel anytime</h4>
                    <p>Consectetur adipiscing elit</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center py-5">
                    <i class="fas fa-shield-alt fa-3x text-primary"></i>
                    <h4 class="pt-3 text-primary">Data security</h4>
                    <p>Duis aute irure dolor in reprehenderit</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center py-5">
                    <i class="fas fa-users fa-3x text-primary"></i>
                    <h4 class="pt-3 text-primary">Team plan</h4>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content content-sm">
    <div class="container px-4">
        <h2 class="pb-2 border-bottom">Features</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 py-5">
            <div class="col d-flex align-items-start mt-5">
                <div class="me-3">
                    <i class="fa-solid fa-arrows-rotate fa-2x text-primary"></i>
                </div>
                <div>
                    <h4 class="fw-bold">Apps</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start mt-5">
                <!-- <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#cpu-fill"></use>
                </svg> -->
                <div class="me-3">
                    <i class="fa-solid fa-arrows-spin fa-2x text-primary"></i>
                </div>
                <div>
                    <h4 class="fw-bold">Automation</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start mt-5">
                <div class="me-3">
                    <i class="fa-solid fa-bowling-ball fa-2x text-primary"></i>
                </div>
                <div>
                    <h4 class="fw-bold">Reporting</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start mt-5">
                <div class="me-3">
                    <i class="fa-solid fa-bullseye fa-2x text-primary"></i>
                </div>
                <div>
                    <h4 class="fw-bold">Boards</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start mt-5">
                <div class="me-3">
                    <i class="fa-solid fa-circle-check fa-2x text-primary"></i>
                </div>
                <div>
                    <h4 class="fw-bold">Workflow</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start mt-5">
                <div class="me-3">
                    <i class="fa-solid fa-circle-half-stroke fa-2x text-primary"></i>
                </div>
                <div>
                    <h4 class="fw-bold">Goals</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start mt-5">
                <div class="me-3">
                    <i class="fa-solid fa-clock fa-2x text-primary"></i>
                </div>
                <div>
                    <h4 class="fw-bold">Forms</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start mt-5">
                <div class="me-3">
                    <i class="fa-solid fa-compass fa-2x text-primary"></i>
                </div>
                <div>
                    <h4 class="fw-bold">Calender</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
        </div>
    </div>
</div>