<div class="container-fluid">
    <footer class="footer">
        <div class="container py-6">
            <div class="row">
                <div class="col-md-6 col-lg-3 pt-4">
                    <h6 class="text-uppercase text-primary">Company</h6>
                    <ul class="list-unstyled pt-3">
                        <li class="py-2">
                            <a href="#!" class="h5">About</a>
                        </li>
                        <li class="py-2">
                            <a href="#!" class="h5">Features</a>
                        </li>
                        <li class="py-2">
                            <a href="#!" class="h5">API</a>
                        </li>
                        <li class="py-2">
                            <a href="#!" class="h5">Careers</a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-6 col-lg-3 pt-4">

                    <h6 class="text-uppercase text-primary">Solutions</h6>
                    <ul class="list-unstyled pt-3">
                        <li class="py-2">
                            <a href="#!" class="h5">By Department</a>
                        </li>
                        <li class="py-2">
                            <a href="#!" class="h5 ">By Industry</a>
                        </li>
                        <li class="py-2">
                            <a href="#!" class="h5">Integration</a>
                        </li>
                        <li class="py-2">
                            <a href="#!" class="h5">Use Case</a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 pt-4">
                    <h6 class="text-uppercase text-primary">Resources</h6>
                    <ul class="list-unstyled pt-3">
                        <li class="py-2">
                            <a href="#!" class="h5 ">Account</a>
                        </li>
                        <li class="py-2">
                            <a href="#!" class="h5 ">How It Works</a>
                        </li>
                        <li class="py-2">
                            <a href="#!" class="h5">Terms</a>
                        </li>
                        <li class="py-2">
                            <a href="#!" class="h5">Privacy</a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-6 col-lg-3 pt-4">

                    <h6 class="text-uppercase text-primary">Useful Links</h6>
                    <ul class="list-unstyled pt-3">
                        <li class="py-2">
                            <a href="#!" class="h5 ">Blog</a>
                        </li>
                        <li class="py-2">
                            <a href="#!" class="h5 ">Support</a>
                        </li>
                        <li class="py-2">
                            <a href="#!" class="h5">Knowledge Base</a>
                        </li>
                        <li class="py-2">
                            <a href="#!" class="h5">Invite Friends</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row mt-5 footer-social-btn-group">
                <div class="col-md-6 d-flex justify-content-center justify-content-md-end">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#!" class="text-dark opacity-75">

                                <i class="fab fa-youtube fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-dark opacity-75">
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-dark opacity-75">

                                <i class="fab fa-facebook fa-2x"></i>
                            </a>
                        </li>


                    </ul>
                </div>

                <div class="col-md-6 d-flex justify-content-center justify-content-md-start px-0">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#!" class="text-dark opacity-75">
                                <i class="fab fa-instagram fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-dark opacity-75">

                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-dark opacity-75">

                                <i class="fab fa-github fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
    <footer class="footer">
        <div class="container-fluid py-6 mt-6">
            <hr />
            <div class="row text-dark">
                <div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-start">
                    <img src="@@path/assets/img/logo.svg" style="width: 180px;">
                </div>
                <div class="col-lg-8 d-flex align-items-center justify-content-center justify-content-lg-end">
                    <ul class="list-unstyled list-inline mt-4 mt-lg-3">
                        <li class="list-inline-item">
                            <a href="#!" class="h5 text-reset">Product</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="h5 text-reset">Account</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="h5 text-reset">Blog</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="h5 text-reset">Careers</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center mt-4">
                    <ul class="list-unstyled list-inline footer-social-btn-group">
                        <li class="list-inline-item">
                            <a href="#!" class="text-dark opacity-75">
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-dark opacity-75">
                                <i class="fab fa-facebook fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-dark opacity-75">
                                <i class="fab fa-github fa-2x"></i>
                            </a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </footer>

    <footer class="footer">

        <div class="container py-6 mt-6">
            <hr />
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item pb-2 d-block d-md-inline-block">
                            <a href="#!" class="h6 text-reset">Product</a>
                        </li>
                        <li class="list-inline-item pb-2 d-block d-md-inline-block">
                            <a href="#!" class="h6 text-reset">Account</a>
                        </li>
                        <li class="list-inline-item pb-2 d-block d-md-inline-block">
                            <a href="#!" class="h6 text-reset">Blog</a>
                        </li>
                        <li class="list-inline-item pb-2 d-block d-md-inline-block">
                            <a href="#!" class="h6 text-reset">Careers</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 d-flex justify-content-center justify-content-md-end">
                    <ul class="list-unstyled list-inline footer-social-btn-group">
                        <li class="list-inline-item">
                            <a href="#!" class="text-dark">
                                <i class="fab fa-facebook fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-dark">

                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-dark">

                                <i class="fab fa-dribbble fa-2x"></i>
                            </a>
                        </li>

                    </ul>
                </div>

            </div>
            <div class="row">
                <div class="col text-center">
                    <p class="m-0 text-dark text-capitalize text-muted">&copy; 2021 my company, all rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <footer class="footer text-dark">

        <div class="container py-6 mt-6">
            <div class="row">
                <div class="col-lg-4 user-select-none py-2 navbar-brand-img">

                    <img src="@@path/assets/img/logo.svg">
                    <p class="my-3 text-muted">
                        The multipurpose UI kit with
                        beautiful design and feature-rich components.
                    </p>

                </div>
                <div class="col-lg-8 opacity-75">

                    <div class="row">
                        <div class="col-sm-4">
                            <ul class="list-unstyled">
                                <li class="py-2">
                                    <a href="#!" class="text-reset">Products</a>
                                </li>
                                <li class="py-2">
                                    <a href="#!" class="text-reset">Blog</a>
                                </li>
                                <li class="py-2">
                                    <a href="#!" class="text-reset">Contact Us</a>
                                </li>
                                <li class="py-2">
                                    <a href="#!" class="text-reset">About Us</a>
                                </li>

                            </ul>

                        </div>
                        <div class="col-sm-4">
                            <ul class="list-unstyled">
                                <li class="py-2">
                                    <a href="#!" class="text-reset">Docs</a>
                                </li>
                                <li class="py-2">
                                    <a href="#!" class="text-reset">License</a>
                                </li>
                                <li class="py-2">
                                    <a href="#!" class="text-reset">Support</a>
                                </li>

                                <li class="py-2">
                                    <a href="#!" class="text-reset">Terms of
                                        Use</a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="list-unstyled">
                                <li class="py-2">
                                    <a href="#!" class="text-reset">Register</a>
                                </li>
                                <li class="py-2">
                                    <a href="#!" class="text-reset">Sign In</a>
                                </li>
                                <li class="py-2">
                                    <a href="#!" class="text-reset">Privacy
                                        Policy</a>
                                </li>

                                <li class="py-2">
                                    <a href="#!" class="text-reset">Cookie
                                        Policy</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <ul class="list-inline footer-social-btn-group">
                        <li class="list-inline-item">
                            <a href="#!" class="text-reset opacity-75">
                                <i class="fab fa-facebook fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-reset opacity-75">
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-reset opacity-75">
                                <i class="fab fa-github fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <p class="text-muted">© 2021, My Company. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>


    <footer class="footer text-white">
        <div class="container py-5 mt-6">
            <div class="row my-2">
                <div class="col-12 text-center">
                    <p class="text-muted h5">Join Our Newsletter</p>
                </div>
            </div>
            <form class="row g-3 d-flex justify-content-center">
                <div class="col-12 col-md-5">
                    <label for="inputFooter5" class="visually-hidden">Email</label>
                    <input type="text" class="form-control" id="inputFooter5" placeholder="Enter Email" required>
                </div>
                <div class="col-12 col-md-auto text-center">
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                </div>
            </form>


        </div>
        <div class="container bg-dark py-4">
            <div class="row">
                <div class="col-12">
                    <ul class="list-unstyled opacity-75 text-center">
                        <li class="py-1">
                            <a href="#!" class="h5 text-reset">Work</a>
                        </li>
                        <li class="py-1">
                            <a href="#!" class="h5 text-reset">About</a>
                        </li>
                        <li class="py-1">
                            <a href="#!" class="h5 text-reset">Returns</a>
                        </li>
                        <li class="py-1">
                            <a href="#!" class="h5 text-reset">Contact</a>
                        </li>
                        <li class="py-1">
                            <a href="#!" class="h5 text-reset">Shipping</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row my-3 footer-social-btn-group">
                <div class="col-md-6 d-flex justify-content-center justify-content-md-end px-1">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#!" class="text-reset opacity-75">
                                <i class="fab fa-twitter fa-2x pe-2"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-reset opacity-75">
                                <i class="fab fa-facebook fa-2x pe-2"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-reset opacity-75">
                                <i class="fab fa-dribbble fa-2x pe-2"></i>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-6 d-flex justify-content-center justify-content-md-start px-1">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#!" class="text-reset opacity-75">
                                <i class="fab fa-youtube fa-2x pe-2"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-reset opacity-75">
                                <i class="fab fa-linkedin fa-2x pe-2"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="text-reset opacity-75">
                                <i class="fab fa-github fa-2x pe-2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-muted text-capitalize mb-1">Lorem ipsum dolor sit amet</p>
                    <p class="text-muted">&copy; 2021 my company, all rights reserved.</p>
                    <ul class="list-unstyled list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="#!" class="h6 text-reset opacity-75">Terms & Conditions</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="h6 text-reset opacity-75">Privacy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="h6 text-reset opacity-75">Legal</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <footer class="py-3 my-7 border-top">
        <div class="row">
            <div class="col-6 col-xl-4 mb-0 text-muted">© 2021 Company, Inc</div>
            <div class="col-6 col-xl-4">
                <a href="#!"
                    class="d-flex align-items-center justify-content-xl-center justify-content-end mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <img src="@@path/assets/img/logo.svg" style="width: 10rem;">
                </a>
            </div>


            <ul class="nav col-12 col-xl-4 justify-content-end">
                <li class="nav-item"><a href="#!" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#!" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="#!" class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="#!" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#!" class="nav-link px-2 text-muted">About</a></li>
            </ul>
        </div>
    </footer>

    <footer class="py-5 footer border-top">
        <div class="row">
            <div class="col-md-2 mt-3">
                <h5>Products</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#!" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#!" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#!" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#!" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#!" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-md-2 mt-3">
                <h5>Solutions</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#!" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#!" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#!" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#!" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#!" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-md-2 mt-3">
                <h5>Resources</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#!" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#!" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#!" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#!" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#!" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-md-6 mt-3">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of whats new and exciting from us.</p>
                    <div class="d-flex w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="py-4 my-4 border-top">
            <div class="row text-center">
                <div class="col-12">
                    <p>© 2021 Company, Inc. All rights reserved.</p>
                </div>
                <div class="col-12 mt-3">
                    <ul class="list-unstyled list-inline footer-social-btn-group">
                        <li class="list-inline-item">
                            <a href="#!">
                                <i class="fab fa-twitter fa-2x text-dark"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!">
                                <i class="fab fa-facebook fa-2x text-dark"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!">
                                <i class="fab fa-github fa-2x text-dark"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </footer>
</div>