<div class="container mb-6">
    <div class="row">
        <div class="col-12 my-6 text-center">
            <h5>Default</h5>
        </div>
        <div class="col-12 px-2 px-sm-5 px-md-10">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col" style="width: 75%;">Description</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Default</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/default.html" target="_blank">Preview</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Full Container</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/full-container.html"
                                target="_blank">Preview</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 my-6 text-center">
            <h5>Alignments</h5>
        </div>
        <div class="col-12 px-2 px-sm-5 px-md-10">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col" style="width: 75%;">Description</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Left aligned header</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/left-aligned-header.html" target="_blank">Preview</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Right aligned header</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/right-aligned-header.html"
                                target="_blank">Preview</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Center aligned header</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/center-aligned-header.html"
                                target="_blank">Preview</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Center aligned logo</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/center-aligned-logo.html"
                                target="_blank">Preview</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 my-6 text-center">
            <h5>Breakpoints</h5>
        </div>
        <div class="col-12 px-2 px-sm-5 px-md-10">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col" style="width: 75%;">Description</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Expand-sm</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/expand-sm.html" target="_blank">Preview</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Expand-md</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/expand-md.html" target="_blank">Preview</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Expand-lg</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/expand-lg.html" target="_blank">Preview</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Expand-xl</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/expand-xl.html" target="_blank">Preview</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Expand-xxl</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/expand-xxl.html" target="_blank">Preview</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Never expand</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/never-expand.html" target="_blank">Preview</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Always expand</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/always-expand.html" target="_blank">Preview</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 my-6 text-center">
            <h5>Topbar</h5>
        </div>
        <div class="col-12 px-2 px-sm-5 px-md-10">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col" style="width: 75%;">Description</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fixed-top</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/fixed-top.html" target="_blank">Preview</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Top bar</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/top-bar.html" target="_blank">Preview</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Top bar center aligned</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/top-bar-center-aligned.html"
                                target="_blank">Preview</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 my-6 text-center">
            <h5>Transparent</h5>
        </div>
        <div class="col-12 px-2 px-sm-5 px-md-10">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col" style="width: 75%;">Description</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Transparent</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/transparent-nav.html" target="_blank">Preview</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 my-6 text-center">
            <h5>Navbar Toggler Button</h5>
        </div>
        <div class="col-12 px-2 px-sm-5 px-md-10">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col" style="width: 75%;">Description</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Default</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/nav-btn-default.html" target="_blank">Preview</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Custom</td>
                        <td class="">
                            <a class="text-primary h5" href="./headers/nav-btn-custom.html" target="_blank">Preview</a>
                        </td>
                    </tr>
                     <tr>
                         <td>Icon</td>
                         <td class="">
                             <a class="text-primary h5" href="./headers/nav-btn-icon.html" target="_blank">Preview</a>
                         </td>
                     </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>