<div class="content my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="text-uppercase text-dark fw-bold">our product</h6>
                <h1 class="text-primary my-3">Grow your business faster with featured product</h1>
                <p class="lead px-5 pt-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor
                    incididunt ut labore et dolore magna aliqua</p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12">
                <div class="card shadow-lg-dark">
                    <div class="card-body">
                        <form class="row m-0">
                            <div class="col-lg-4 my-3">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="theme-home-name" placeholder="name"
                                        value="" required>
                                    <label for="theme-home-name">Name</label>
                                </div>
                            </div>
                            <div class="col-lg-4 my-3">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="theme-home-email" placeholder="email"
                                        value="" required>
                                    <label for="theme-home-email">Email</label>
                                </div>
                            </div>
                            <div class="col-lg-4 my-3 d-grid">
                                <button class="btn btn-primary btn-lg">Confirm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-12 text-center">
            <small class="text-primary">Easy Setup &nbsp;| &nbsp; No Card Required &nbsp; | &nbsp; Cancel
                    Anytime</small>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="content">
    <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold mb-4">Instant Data Connections</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-5">
                Lorem ipsum dolor sit amet, consect etur adipicing elit duis ut ciam, do eiusmod
                incid utet dolorea magna qua. Ut enim ad minim veniam consequa semp nam justo viam. Aliquam
                males uada dum arcu vitae.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <button type="button" class="btn btn-primary px-4 me-sm-3">Take a Tour</button>
                <button type="button" class="btn btn-dark px-4">Sign Up</button>
            </div>
        </div>
        <div class="overflow-hidden" style="max-height: 35vh;">
            <div class="container px-5">
                <img src="@@path/assets/img/demo/cards.jpg" class="img-fluid rounded-3 shadow-lg mb-4 border"
                    alt="Example image" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
</div>

<hr>

<div class="content">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="@@path/assets/img/demo/cards.jpg" class="d-block mx-lg-auto img-fluid rounded-3" alt="Bootstrap Themes"
                    width="700"
                    height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-4">Instant Data Connections</h1>
                <p class="lead mb-5">
                    Lorem ipsum dolor sit amet, consect etur ut adipicing elit duis ut ciam, do eiusmod
                    inca utet dolorea magna qua. Ut enim ad minim veniam consequa semp nam justo viam. Aliquam
                    males uada dum arcu vitae.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary px-4 me-md-2">Get Started</button>
                    <button type="button" class="btn btn-outline-dark px-4">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="content">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="@@path/assets/img/logo.svg" alt="..">
        <h1 class="display-6 fw-bold mb-4">Instant Data Connections</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-5">Lorem ipsum dolor sit amet, consect etur adipicing elit duis ut ciam, do eiusmod
                incid utet dolorea magna qua. Ut enim ad minim veniam consequa semp nam justo viam. Aliquam
                males uada dum arcu vitae.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary px-4 gap-3">Take a Tour</button>
                <button type="button" class="btn btn-dark px-4">Sign Up</button>
            </div>
        </div>
    </div>
</div>

