<!DOCTYPE html>
<html lang="en">
@@include("./_header.html", {"path":".."})

<body>

    @@include("./_navigation.html", {"path":"..", "navbg": "navbar-light", "theme":"pinnacle",
    "logo":"logo-white"})

    <main>

        @@include("./components/_loader.html", {"path": ".."})

        <div class="content-header">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">

                        <h1 class="display-2">Pinnacle UI Kit</h1>
                        <p class="h3 py-4">All Components</p>
                        <p class="h4 opacity-75">A stunning UI kit of custom components, ready made template
                            and pre built sections</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Accordion</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_accordion.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Alerts</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_alerts.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section elements-section-space">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Badges</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_badge.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Breadcrumb</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_breadcrumb.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section elements-section-space">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Buttons</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_buttons.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Button Groups</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_button-groups.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Cards</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_card.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Carousel</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_carousel.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Dropdowns</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_dropdown.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Forms</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_forms.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Images</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_images.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>List Groups</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_list-groups.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Modal</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_modal.html", {"path":".."})
                                </div>
                            </div>
                        </div>


                         <div class="elements-section container py-6">
                             <div class="row">
                                   <div class="col-12 text-center">
                                       <h2>Navbar</h2>
                                   </div>
                                 <div class="col-12">
                                     @@include("./components/_navbar.html", {"path":".."})
                                 </div>
                             </div>
                         </div>


                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Navs</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_navs.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Offcanvas</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_offcanvas.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Pagination</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_pagination.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Placeholders</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_placeholders.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Popovers</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_popovers.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Progress</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_progress.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Quotes</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_quote.html", {"path":".."})
                                </div>
                            </div>
                        </div>


                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Spinners</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_spinners.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Scrollspy</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_scrollspy.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Tables</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_tables.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Toasts</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_toasts.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Tooltip</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_tooltips.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Typography</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_typography.html", {"path":".."})
                                </div>
                            </div>
                        </div>

                        <div class="elements-section">
                            <div class="row g-1">
                                <div class="col-12 text-center">
                                    <h2>Utilities</h2>
                                </div>
                                <div class="col-12">
                                    @@include("./components/_utilities.html", {"path":".."})
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <div class="container mb-5">

            <div class="row">
                <div class="col text-center">
                    <div class="py-5 px-2 px-md-5 px-lg-10 d-flex justify-content-center">
                        <img src="../assets/img/logo.svg" class="img-fluid" alt="logo" style="width: 20rem;" />
                    </div>

                    <a class="btn btn-primary ms-1 my-4 btn-lg" target="_blank"
                        href="https://themesin.com/products/ui/pinnacle">Download Now
                        <i class="fas fa-download pl-2"></i></a>
                </div>
            </div>
        </div>





    </main>

    @@include("./_footer.html", {"path":"..", "theme":"pinnacle"})

    @@include("./_scripts.html", {"path":".."})


</body>

</html>