<html lang="en">
@@include("./_header.html", {"path":".."})

<body>

    @@include("./_navigation.html", {"path":"..", "navbg": "navbar-light", "theme":"pinnacle"})

    <main>

        <div class="content-header">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="display-2">Buttons</h1>
                        <p class="lead opacity-75 mt-3">
                           Use pinnacle's custom button styles for actions in forms, dialogs, and more with support for
                           multiple sizes, states, and more</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-6 elements-section elements-section-space">
            <div class="row">
                <div class="col-12">
                    @@include("./components/_buttons.html", {"path":".."})
                </div>
            </div>
        </div>

    </main>

    @@include("./_footer.html", {"path":"..", "theme":"pinnacle"})

    @@include("./_scripts.html", {"path":".."})


</body>

</html>