<footer class="footer mt-5 py-5 text-dark">
    <div class="container mt-2">
        <div class="row">
            <div class="col-lg-4 user-select-none py-2 text-lg-left navbar-brand-img ps-2">

                <img src="@@path/assets/img/logo.svg">
                <p class="my-3 me-3 opacity-60">
                    <span class="text-capitalize">@@theme</span> is multipurpose UI kit with
                    beautiful design and feature-rich components.
                </p>

            </div>
            <div class="col-lg-8">

                <div class="row">
                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li class="py-2">
                                <a href="https://themesin.com/products" class="text-reset"target="_blank">Products</a>
                            </li>
                            <li class="py-2">
                                <a href="https://themesin.com/blog" class="text-reset"target="_blank">Blog</a>
                            </li>
                            <li class="py-2">
                                <a href="https://themesin.com/company/contact" class="text-reset"target="_blank">Contact Us</a>
                            </li>
                            <li class="py-2">
                                <a href="https://themesin.com/company/resources" class="text-reset"target="_blank">Resources</a>
                            </li>

                        </ul>

                    </div>
                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li class="py-2">
                                <a href="https://themesin.com/documentation" class="text-reset"target="_blank">Documentation</a>
                            </li>
                            <li class="py-2">
                                <a href="https://themesin.com/company/contact" class="text-reset"target="_blank">Support</a>
                            </li>
                            <li class="py-2">
                                <a href="https://themesin.com/identity/account/login" class="text-reset"target="_blank">Sign In</a>
                            </li>

                            <li class="py-2">
                                <a href="https://themesin.com/identity/account/register"
                                    class="text-reset"target="_blank">Register</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li class="py-2">
                                <a href="https://themesin.com/Company/Terms" class="text-reset"target="_blank">Terms of Use</a>
                            </li>
                            <li class="py-2">
                                <a href="https://themesin.com/company/privacy" class="text-reset"target="_blank">Privacy Policy</a>
                            </li>
                            <li class="py-2">
                                <a href="https://themesin.com/company/cookies" class="text-reset"target="_blank">Cookie
                                    Policy</a>
                            </li>
                            <li class="py-2">
                                <a href="https://themesin.com/company/license" class="text-reset"target="_blank">License</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <ul class="list-inline footer-social-btn-group">
                    <li class="list-inline-item">
                        <a href="#!" class="text-reset">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!" class="text-reset">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!" class="text-reset">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <p class="opacity-60 py-2">© 2021, Themesin. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>