<header>
    <nav class="navbar navbar-expand-lg @@navbg">
        <div class="container">
            <a class="navbar-brand" href="@@path/">
                <img src="@@path/assets/img/logo.svg" alt="logo" />
            </a>
            <button class="navbar-toggler js-navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-inner">
                    <span class="navbar-toggler-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse pt-3 pt-lg-0" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@@path/index.html">Overview</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ddlsections" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Start
                        </a>
                        <div class="dropdown-menu">
                            <div class="row py-2">
                                <div class="col">
                                    <a class="dropdown-item" href="@@path/sections/cta.html">Call-to-Action (CTA)</a>
                                    <a class="dropdown-item" href="@@path/sections/clients.html">Clients</a>
                                    <a class="dropdown-item" href="@@path/sections/features.html">Features</a>
                                    <a class="dropdown-item" href="@@path/sections/footers.html">Footers</a>
                                    <a class="dropdown-item" href="@@path/sections/headers.html">Headers</a>
                                    <a class="dropdown-item" href="@@path/sections/hero.html">Hero</a>
                                    <a class="dropdown-item" href="@@path/sections/pricing.html">Pricing</a>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ddlComponents" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Components
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg">
                            <div class="container-fluid">
                                <div class="row py-3">
                                    <div class="col-md-4">

                                        <a class="dropdown-item" href="@@path/components/accordion.html">Accordion</a>
                                        <a class="dropdown-item" href="@@path/components/alerts.html">Alerts</a>
                                        <a class="dropdown-item" href="@@path/components/badge.html">Badges</a>
                                        <a class="dropdown-item" href="@@path/components/breadcrumb.html">Breadcrumb</a>
                                        <a class="dropdown-item" href="@@path/components/buttons.html">Buttons</a>
                                        <a class="dropdown-item" href="@@path/components/button-groups.html">Button
                                            Groups</a>
                                        <a class="dropdown-item" href="@@path/components/card.html">Cards</a>
                                        <a class="dropdown-item" href="@@path/components/carousel.html">Carousel</a>
                                        <a class="dropdown-item" href="@@path/components/dropdown.html">Dropdowns</a>


                                    </div>
                                    <div class="col-md-4">

                                        <a class="dropdown-item" href="@@path/components/forms.html">Forms</a>
                                        <a class="dropdown-item" href="@@path/components/list-groups.html">List
                                            group</a>
                                        <a class="dropdown-item" href="@@path/components/modal.html">Modal</a>
                                        <a class="dropdown-item" href="@@path/components/navbar.html">Navbar</a>
                                        <a class="dropdown-item" href="@@path/components/navs.html">Navs</a>
                                        <a class="dropdown-item" href="@@path/components/offcanvas.html">Offcanvas</a>
                                        <a class="dropdown-item" href="@@path/components/pagination.html">Pagination</a>
                                        <a class="dropdown-item"
                                            href="@@path/components/placeholders.html">Placeholders</a>
                                        <a class="dropdown-item" href="@@path/components/popovers.html">Popovers</a>


                                    </div>
                                    <div class="col-md-4">


                                        <a class="dropdown-item" href="@@path/components/progress.html">Progress</a>
                                        <a class="dropdown-item" href="@@path/components/quote.html">Quote</a>
                                        <a class="dropdown-item" href="@@path/components/scrollspy.html">Scrollspy</a>
                                        <a class="dropdown-item" href="@@path/components/spinners.html">Spinners</a>
                                        <a class="dropdown-item" href="@@path/components/tables.html">Tables</a>
                                        <a class="dropdown-item" href="@@path/components/toasts.html">Toasts</a>
                                        <a class="dropdown-item" href="@@path/components/tooltips.html">Tooltip</a>
                                        <a class="dropdown-item" href="@@path/components/typography.html">Typography</a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ddlPages" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Template
                        </a>
                        <div class="dropdown-menu">
                            <div class="row py-2">
                                <div class="col ps-3">

                                    <a class="dropdown-item" href="@@path/pages/" target="_blank">Home</a>
                                    <a class="dropdown-item" href="@@path/pages/sign-in.html" target="_blank">Signin</a>
                                    <a class="dropdown-item" href="@@path/pages/sign-up.html" target="_blank">Signup</a>
                                    <a class="dropdown-item" href="@@path/pages/blog.html" target="_blank">Blog</a>
                                    <a class="dropdown-item" href="@@path/pages/forgot-password.html" target="_blank">Reset Password</a>
                                    <a class="dropdown-item" href="@@path/pages/404.html" target="_blank">404</a>


                                </div>


                            </div>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ddlDocumentation" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Theme
                        </a>
                        <div class="dropdown-menu">
                            <div class="row py-2">
                                <div class="col">
                                    <a class="dropdown-item" href="@@path/components/all.html" target="_blank">All
                                        Components</a>
                                    <a class="dropdown-item" href="https://themesin.com/documentation/@@theme"
                                        target="_blank">Documentation</a>
                                    <a class="dropdown-item" href="https://themesin.com/company/contact"
                                        target="_blank">Support</a>


                                </div>

                            </div>

                        </div>
                    </li>
                </ul>
                <div class="d-grid mt-3 mt-lg-0 px-2 px-lg-0">
                    <a class="btn btn-primary btn-sm" target="_blank"
                        href="https://themesin.com/products/ui/@@theme">Download <i class="fas fa-download ms-1"></i></a>
                </div>
            </div>
        </div>
    </nav>
</header>